[2011-01-23 14:01] rcarmo opened #2 "Markdown Extra footnote support"
I'm closing down my fork since I can't spare the time to develop this. Maybe you could keep the issue around to see if someone else picked it up...

[2011-02-16 19:27] jasonkhanlar opened #3 "Use with wmd"
I am trying to use your version of showdown with wmd, but because of the namespace differences and possibly other issues, the scripts are incompatible.

I am currently using a version of showdown that has

var Attacklab = Attacklab || {}
Attacklab.showdown = Attacklab.showdown || {}

Your version has

var Showdown = {};

Is it possible you can revert your modifications to appear same as original s

[2011-04-11 14:11] kkaefer opened #5 "Publish in npm"
Can you please publish this module in [npm](http://npmjs.org/)? npm makes it easy to install dependencies for JavaScript projects

[2011-04-12 02:23] #5 closed, assigned to nobody

[2011-04-12 02:40] #3 closed, assigned to nobody

[2011-04-12 02:44] #2 closed, assigned to nobody

[2011-05-05 21:09] lsolesen opened #6 "Link to attacklab.net/showdown broken"
It seems that attacklab.net has removed showdown from their page, so the link in the description of this project is broken.

[2011-12-08 14:05] waynew opened #10 "Incorrect parsing of underscore and asterisk"
If you have text like this:

[code]

Showdown incorrectly parses it as:

[code]

To fix it, replace lines 984-988:

[code]

I'm not a regex pro, but as far as I can tell adding the negative lookahead `(?![\])` before the groups works fine. This tells the regex to skip those characters if they're escaped with the backslash '\' character.

Thanks!

[2012-03-15 15:45] focusaurus opened #11 "<style> tag is removed"
Markdown.pl version 1.0.1 passes through my inline <style> tag unmodified. Showdown removes it.

(Seems like this repo isn't maintained actively anymore perhaps....)

[2012-06-02 17:57] rahulsom opened #14 "Double tilde doesn't strike text"
`~~foo~~` must cause ~~foo~~. It does not.

[2012-06-14 03:37] tstone opened #16 "Nested block quotes"
According to the Markdown syntax page ( http://daringfireball.net/projects/markdown/syntax ), markdown is supposed to support nested blockquotes.  The example is given...

[code]

What HTML should this produce?  Based on the markdown and text in the example, I would assume the HTML output should be:

[code]

However showdown right now produces:

[code]

[2012-06-14 05:02] tstone opened #17 "Github style code blocks don't auto-escape HTML"
`<`'s and `>`'s should be converted to `&lt;` and `&gt;`

Example:

[code]

(The leading \ is there to get github to not close the codeblock on [backtick][backtick][backtick])

[2012-06-14 05:03] tstone opened #18 "Github style codeblock adds "class=" if no language is given"
If a github style codeblock is started without the syntax, then the HTML generated is `<pre><code class=>`.

[2012-06-14 05:23] tstone opened #19 "npm module out of date"
This is probably one of the more important issues to me.  Anyone know who is managing the module in the npm system?

[2012-06-14 06:01] tstone opened #20 "If a string starts with a github style code block (```) all github codeblock parsing fails"

[2012-06-14 06:06] tstone opened #21 "Github style codeblocks fail if backtick is in code snippet"

[2012-06-14 06:35] #16 closed, assigned to nobody

[2012-06-15 19:06] #18 closed, assigned to nobody

[2012-06-15 19:06] #20 closed, assigned to nobody

[2012-06-15 19:06] #21 closed, assigned to nobody

[2012-06-15 19:06] #11 closed, assigned to nobody

[2012-06-15 19:06] #17 closed, assigned to nobody

[2012-06-15 19:15] #6 closed, assigned to nobody

[2012-06-15 19:15] #19 closed, assigned to nobody

[2012-06-15 20:20] tstone opened #22 "Define an extension syntax"
It should probably be capable of:
- Categorizing the extension as either language extension or output modification
- Give developers the option of a simple regex/replace syntax, regex/function syntax, or straight out callback function to do whatever you want
- Extensions should be able dynamically loaded on either the client or server ,then a new converter instantiated with them
- Allow multiple l

[2012-07-03 18:17] kevinschaul opened #25 "Code inside three ticks ``` should render line breaks"

[2012-07-14 19:06] stevearm opened #26 "Incorrect parsing of links with ) in the url"
I have the following in a markdown string:

There's an [episode](http://en.memory-alpha.org/wiki/Darmok_(episode)) of Star Trek: The Next Generation

and it renders as "an <a href="http://en.memory-alpha.org/wiki/Darmok_(episode">episode</a>) of"

Python's markdown processor handles this correctly, but I'm unsure about the "official" spec.

[2012-07-23 20:21] ferentchak opened #27 "The link to your website is down."
Not a huge deal but I would want to know

[2012-07-27 18:37] #27 closed, assigned to nobody

[2012-07-31 13:35] abackstrom opened #28 "\Z not functional in Chrome 20"
Showdown already works around JavaScript's missing `\Z` in some parts of the code, but not in `_StripLinkDefinitions`. This causes link definitions with the "Z" character to fail. [See gist](https://gist.github.com/3217069).

`[link]: http://example.com/beforeZafter`

The text "after" will be left floating at the end of the converted text.

[2012-08-11 18:55] #25 closed, assigned to nobody

[2012-08-13 05:10] andrewluetgers opened #31 "no need for new, benchmarked refactor results"
So I was messing with this for fun. Didnt like the code style, and had a theory that if I pulled out a bunch of large regexes and functions into variables outside of the functions there would be a bit of a performance boost. Well you can see the lackluster results here http://jsperf.com/showdown-basic-optimizations

I would suggest doing away with the constructor newing tho, there is no need for i

[2012-10-31 07:11] #26 closed, assigned to nobody

[2012-10-31 09:16] #28 closed, assigned to nobody

[2012-10-31 09:18] #22 closed, assigned to nobody

[2012-10-31 10:41] #14 closed, assigned to nobody

[2012-10-31 10:44] #10 closed, assigned to nobody

[2012-11-01 07:21] brianherbert opened #36 "Extensions Documentation"
The documentation for building extensions seems to be pretty good. However, I've been unsuccessful at getting extensions to load.

A couple errors when following the documentation:
1. TypeError: showdown is not a constructor. I've found that removing the () after "new Showdown"

[code]

... seems to help. However, I hit another hurdle.
1. I keep getting a "TypeError: converter_options.extensions.f

[2012-11-01 12:10] #36 closed, assigned to nobody

[2012-11-02 17:58] coreyti opened #38 "Architecture & Process Changes"
`Showdown` is evolving.  I'm interested in exploring options for making larger code architecture and project process changes here.

I'd love to hear from @pdeschen, @tstone and the `Showdown` community at large regarding the following ideas and any others.

Regarding project management, I'm wondering whether it's time to move things to a `Showdown` github "organization".  I feel a number of the re

[2012-11-11 18:21] ghost opened #39 "Parsing escaped html entities"
Showdown has been awesome so far, I just have a small issue with escaped html. For example I encode all html entities before running showdown on the user input. Therefore text like
    &lt;http://google.com&gt;  //  Looks like github is parsing the link with html entities
 no longer works because the regexs are not checking for escaped entities.
I have tweaked the regex to look like this:

    //

[2012-11-22 20:50] ManUtopiK opened #40 "Emphasis in a link"
A _ in a link match for emphasis.

Try with link:
`[https://github.com/an_emphasis_link]()`

[2012-11-23 22:12] snowair opened #41 "a parse bug"
## markdown text:
[code]
## correct  markdown parse :
* list

		+ item

             - subitem

               The HTML has a superfluous newline before this
               paragraph.

             - subitem

               The HTML here is unchanged.

             - subitem

               The HTML is missing a newline after this
               list subitem.

## the showdown parse :
<p>list</p>
<

[2012-11-24 04:25] js-seth-h opened #42 "bug - Automatic Extension Loading (node only)"
I found misspelling.
please fix 'undefind' to 'undefined'.

showdown.js , line 120

//
// Automatic Extension Loading (node only):
//
if (typeof module !== 'undefind' && typeof exports !== 'undefined' && typeof require !== 'undefind') {
if (typeof module !== 'undefined' && typeof exports !== 'undefined' && typeof require !== 'undefined') {

[2012-11-24 10:20] snowair opened #43 "a table extension output bug"
Try this markdown text,the output will be **3** tables:

[code]
## how to fix:

 edit table.js in line 58-60

[code]

to:

[code]

[2012-11-25 21:37] #40 closed, assigned to nobody

[2013-01-05 07:21] Alir3z4 opened #45 "Safe output"
Hi
I've noticed that **Showdown** doesn't escape the _HTML_ tags.
With **Python** port of _markdown_ it's possible to have _safe_ output  by passing the **safe** arg to markdown converter, and all the html tags will be removed or replaced by a word.

I guess it's better to just strip _HTML_ tags and remove them completely.

[2013-01-05 16:04] #45 closed, assigned to nobody

[2013-02-20 00:43] leeola opened #50 "Broken with Browserify"
I attempted to use showdown with browserify and ran into a failure. The failure is due to Showdown trying to access the file system, based on the existence of require/etc.

My main question is.. why, why is it even doing this? If we look at the code in question..

[code]

Why is `fs` even being used here? This seems like a complex solution for something that a simple `index.js` file would handle j

[2013-03-09 14:22] rafalchmiel opened #52 "Passing in an URL"
Hi, I'm thinking about using Showdown in my next small project but I can't grasp it. Is there any way to pass in a URL (to a Markdown file) so it outputs the HTML?

[2013-03-18 18:28] mehulkar opened #53 "Extension for Embedding YouTube"
Has anyone written this already? The README has an example of this, but I don't see support for it. Wanted to check if it was available before writing my own.

[2013-03-19 16:51] #53 closed, assigned to nobody

[2013-05-23 19:08] JakobKallin opened #57 "URLs are improperly escaped"
Converting the following Markdown:

    http://example.com/'onmouseover='alert(document.cookie)'/

yields the following HTML:

    <p><a href='http://example.com/'onmouseover='alert(document.cookie)'/'>http://example.com/'onmouseover='alert(document.cookie)'/</a></p>

which in turn is parsed by the browser as:

    <p><a href="http://example.com/" onmouseover="alert(document.cookie)" '="">http://e

[2013-06-05 19:55] toddb opened #58 "Passing variable into Extension"
I believe I have the need for variables to be passed into extensions. Please correct me if I am not thinking about the solution correctly.

My scenario is tagging a piece of content that will be excluded/included at compile time. I know that I could hide information via classes but I need the content not to be compiled in. This is a well known technique by technical writers for single sourcing doc

[2013-06-14 20:37] tomalex0 opened #59 "Ajax response in extensions"
I'm trying to develop a plugin which will send the key to server and  get the text.
Looks like ajax implementation is not working in my custom plugin. Is there any way to do that?

<pre>
replace : function(match, prefix, content, suffix) {
                $.ajax({
                      type: "GET",
                      url: 'data/data.json',
                      async: false,

[2013-06-21 11:07] H1D opened #60 "Ignore syntax inside <pre> totally"
I found that some syntax are not ignored inside &lt;pre> or code block (```). For example image embedding syntax. Also all extensions are not ignored. Is there a tag to ignore all syntax?

[2013-07-03 13:32] tanepiper opened #62 "Output of anchor broken"
In the example:

[code]

The output is

[code]

Notice there is no space after the closing `</a>` tag.

Tested on OSX 10.8 in Chome 27, Firefox 21, Opera 15

[2013-07-03 13:39] #62 closed, assigned to nobody

[2013-08-21 09:10] blabno opened #69 "Header level start"
Hi,
I have a following usecase:
[code]
So it would be great if I could call ```showdown.makeHtml(SubPackage.description,3)```
so that in case there is following code in ```SubPackage.description```
[code]
I could get output like this:
H1 Package.name
H2 SubPackage.name
H3 Given
H3 When
H3 Then

[2013-08-22 20:02] jorilallo opened #70 "XSS vulnerability"
It seems that link and image titles can be abused easily. Here's and example:

    [Poolparty!](http://www.missionmission.org/wp-content/uploads/2013/08/pool-party-560x328.jpg" onmouseover=alert(document.cookie) id=test)

This is prevented on titles but not in urls. Fix is pretty easy:

    url = escapeCharacters(url,"*_");
    url = url.replace(/"/g,"&quot;");

[2013-09-18 13:12] xealits opened #71 "Where could I find your documentation?"
I would like to find out if the showdown can escape produced html.
Apparently [here](http://softwaremaniacs.org/playground/showdown-highlight/ "the older version") it does not do so.
Don't see the answer in comments of the script (sure, I could just miss it)

[2013-11-07 21:07] EdmundMai opened #72 "Can't upload your library to my repo?"
I tried integrating your library to my project, but when I went on my repo to the javascript folder, the "showdown" folder is not clickable. Deploying also doesn't work since it seems to just be a blank unclickable folder. Is there some sort of licensing issue? I eventually got it to work by just copying the parts I needed (showdown/src/). Still curious though

[2014-01-08 18:51] nicovalencia opened #79 "Latest grunt-mocha module requires grunt update."
When running `npm install`:

[code]

[package.json](https://github.com/coreyti/showdown/blob/master/package.json#L33) specifies: `"grunt-mocha": "*"` which is grabbing v0.4.7. We need to either set an older version of grunt-mocha that's compatible with grunt-0.3.17, or upgrade grunt to 0.4.

[2014-01-08 19:03] nicovalencia opened #80 "Grunt lint task needs to be updated with Grunt upgrade."
The current Grunt lint test isn't identifying issues properly, and should probably just be substituted with grunt-contrib-jshint when Grunt is upgraded. This will identify a handfull of errors (below) that need to be cleaned up.

[code]

I'm working on getting this all cleaned up :potable_water:

[2014-01-08 20:50] nicovalencia opened #82 "Adding multiple titles/headers with the same content produces invalid markup."
Creating a title/header [adds the content of the header](https://github.com/coreyti/showdown/blob/master/src/showdown.js#L778) to the header markup tag's `id` attribute.

For example:

[code]

produces:

[code]

If setting an `id` attribute is **necessary** for #hash linking, it should keep track of duplicates appending a unique identifier. e.g. `foobar-1`, `foobar-2`, etc or a timestamp `foobar-1

[2014-01-16 06:36] xingzheone opened #85 "发的萨芬"
# 标题1
## 标题2
### 标题3
- 列表1
  测试
- 列表2
- 列表3

_我是斜体_
测试文字里面，**我是粗体**，很简单
**我是粗体**

水平线

---
## 如果文字后面紧跟着水平线，看看是什么效果

[2014-02-17 07:53] boneskull opened #86 "extensions expect Showdown to be in the window object if on client side"
However, Showdown never puts itself into the window object--what it does instead is assume it's executed in the global context, which is not necessarily true.

Probably the right thing to do is look for `window` and stuff `Showdown` in it.

[2014-03-13 22:18] halfdan opened #90 "Add additional block elements"
The list of block elements in https://github.com/coreyti/showdown/blob/master/src/showdown.js#L328 is incomplete.

This is causing problems in rendering markdown as showdown adds additional `<br />` to block elements that aren't on that list. We currently experience this issue in https://github.com/TryGhost/Ghost/issues/2312 where an `<audio>` tag breaks because of showdown adding additional HTML

[2014-03-16 18:59] aeneasr opened #93 "(Extension) Tables are being multiplied"
[code]

Instead of getting the table two times, I get it three times.

[2014-03-20 11:07] SystemParadox opened #96 "Underscores in words"
As described in Github flavoured markdown, it makes no sense to italicise parts of a word.

Underscores in words usually refer to something like a variable or field name so it is particularly bad when these are parsed out and converted to italics.

Please can showdown be changed to use the github rules for this.

Thanks.

[2014-03-25 06:06] glacialblade opened #97 "Table extension in IE8"
Table extension in IE8 is not working. is it available for ie8?

[2014-03-28 16:06] mewben opened #98 "Is this still in active development?"
This is a very nice project. However, I am hesitant to use this because of the pending issues and PRs. Seems like this is not active anymore.

Is this project abandoned? If so, kindly tell me some alternative similar to this one please.

[2014-04-07 08:57] #98 closed, assigned to nobody

[2014-04-19 23:41] rmtmckenzie opened #99 "Dom elements and templates together can cause problems."
I'm having a small issue with showdown that is causing problems with my rendering.

    {{#markdown}}
    This is parsed.

    <p>{{> test}}</p>

    #This is not parsed.

    <p>
    {{> test}}
    </p>

    This is parsed.

    {{/markdown}}

And the test template:

    <template name="test">Testtext</template>

This is resulting in the part with '#' not being parsed. If I remove the newline bet

[2014-04-21 09:24] dbtek opened #100 "Icon extension"
Hi,
I created an icon extension for Showdown here: https://github.com/dbtek/showdown-icon. Supports glyphicon and font-awesome icon sets. You may want to mention it or add to the repository.
Thanks for the awesome work.

[2014-05-05 14:05] cirosantilli opened #101 "Command line interface usage."
Is it possible to use showdown from the command line out of the box, e.g.:

    showdown file.md

or as:

    echo 'a' | showdown

?

If not, feature request. If yes, I recommend documenting it on the README.

I want this to make it easier to use it on the Markdown Testsuite https://github.com/karlcow/markdown-testsuite

[2014-05-07 15:26] Nate-Wilkins opened #102 "Syntax error in filter example"
https://github.com/coreyti/showdown/blob/master/README.md

The `Readme.md` file shows the following filter example but the syntax is invalid...
Which field should the anonymous function be assigned to?

[code]

[2014-05-09 07:08] boneskull opened #103 "no commits in 2 years"
Hi,

All the PRs are just sitting.

@coreyti Can you designate a new maintainer for this repository?

[2014-05-20 16:46] tonylampada opened #105 "Anyone knows John Fraser email?"
I can't find a valid email address for John Fraser, the original author of showdown.
Does anyone know it?

[2014-09-26 12:52] MLourensMoog opened #112 "Table is not part of Bower installed showdown"
When installing showdown with 'bower install showdown', table.js is not part of the extensions folder

[2014-10-05 20:27] coreyti opened #114 "Seeking Maintainers for Showdown"
With apologies, I've long been unable to stay up with maintaining Showdown on Github. As such, I've moved the repository to the "showdownjs" organization. I'm seeking maintainers to take over ownership of that organization and the Showdown project.

Please respond here if interested.

[2014-10-10 08:03] nicolasxu opened #115 "Broken link in the title"
http://attacklab.net/showdown/

[2014-10-14 11:09] NicolasKAROLAK opened #116 "Add XMPP URI ?"
Is it possible to add xmpp in the parsed schemes in showdown ? I think it should be nice.

Thanks.

[2014-11-11 22:05] #85 closed, assigned to nobody

[2014-11-11 22:23] #115 closed, assigned to nobody

[2014-11-14 18:20] #93 closed, assigned to tivie

[2014-11-14 18:43] #43 closed, assigned to nobody

[2014-11-14 18:47] #97 closed, assigned to nobody

[2015-01-02 21:46] idiotWu opened #126 "extra new line when working with prism.js"
It seems to append a new line when highlighted with prism.js.

eg:
![example](https://cloud.githubusercontent.com/assets/6022672/5599974/df601bb6-930b-11e4-8f7d-fc1a5d33477a.png)

[2015-01-05 00:26] #103 closed

[2015-01-05 00:26] #105 closed

[2015-01-05 00:28] tivie commented on #42
Fixed in 24716d3520089ce88127ace39d55d8b217a89512

[2015-01-05 00:28] #42 closed

[2015-01-05 00:30] tivie commented on #50
I'm currently looking into this. Showdown will have a major rewriting as keeping up with the perl version doesn't make much sense now. Since we'll probably move each
extension to its own repository, there will be no reason to call fs.

Regardless, the ideal way to approach the problem is abstracting the
library from the platform it's running on, in a similar fashion to
underscore.js method. This w

[2015-01-05 23:53] ericyoungberg opened #128 "V 0.3.3 compressed breaks in Ember"
It doesn't appear that the _src/showdown.js_ file has been changed in the latest version, but I get an error when trying to use the compressed versions in Ember 1.8.1.

I get an "Uncaught ReferenceError: angular is not defined" traced from an anonymous function.

Previous compressed Showdown versions worked with the same Ember version.

[2015-01-06 16:07] #128 closed

[2015-01-06 16:08] tivie commented on #128
Thanks for the report. The error was caused by the angular integration module. Should be fixed now.

[2015-01-06 16:19] tivie commented on #126
Can you provide a little more context?

[2015-01-06 16:28] tivie commented on #112
This should be fixed in version 0.3.3

[2015-01-06 16:28] #112 closed

[2015-01-06 16:45] idiotWu commented on #126
Hello tivie,

When I attempting to use prism.js to highlight code for my Ghost blog, it appends an extra new line in code blocks.

For example, when I type in ghost like this:

<pre>
[code]
</pre>

it will be compiled to:

[code]

and once I try to highlighted it with prism.js, an extra new line was rendered as I've showed above.

I looked up at the source code and find showdown.js will add a new

[2015-01-06 18:59] ericyoungberg commented on #128
Great! Thanks

[2015-01-06 20:49] tivie commented on #126
Well, Showdown follows the markdown specification which, as stated by its creator, adds a line before the ending tags of `code`. ([you can check the original spec here](http://daringfireball.net/projects/markdown/syntax#precode)). I don't really see the reason behind that, but we try to adhere to the specification as much as possible.

I can, however, add a feature to skip the line addition. Maybe

[2015-01-06 20:51] #31 closed

[2015-01-06 20:52] #52 closed

[2015-01-06 20:53] #59 closed

[2015-01-06 20:57] tivie commented on #72
I don't really know what you're referring to. There is no licensing restrictions in using Showdown.

To install showdown you can download a release zip (or tarball), clone the repository or use Bower.

[2015-01-06 20:57] #72 closed

[2015-01-06 20:57] tivie commented on #79
This should be fixed in the new version 0.3.3

[2015-01-06 20:57] #79 closed

[2015-01-06 21:00] tivie commented on #80
I've disabled the jshint in the grunt test job. No use to "fix" the code formatting since a major re-factor is on it's way anyway.

[2015-01-06 21:00] #80 closed

[2015-01-07 23:52] tivie commented on #101
That's an interesting feature. I will have a look into it as soon as I'm able to.

[2015-01-14 11:35] klmdb commented on #71
+1 for documentation request

[2015-01-14 13:10] tivie commented on #71
You're right, the documentation is a bit sparse. We're restructuring the code and some breaking changes will be introduced so the documentation will need to be changed accordingly.

[2015-01-15 02:32] tivie commented on #114
@al-the-x I should be able to release a very alpha version of the re-factored version of showdown in the next couple of days. I would really appreciate your help and @tracend too, if @coreyti agrees.

[2015-01-16 14:56] tivie commented on #99
I will look into it

[2015-01-16 17:31] tgienger commented on #70
Wouldn't it be better to be more specific with the regular expression? For this particular one I'm using:
[code]

[2015-01-16 20:41] tivie commented on #70
@tgienger @jorilallo  I'm a bit averse to add this kind of protection into the core converters because:

 - I don't think it's not the job of a converter/parser. A converter's output should match the input as closely as possible.
 - This puts the extra burden of assuring security into the library, something I don't feel confident (or competent) enough to do.
 - This does not prevent XSS attacks if

[2015-01-16 20:49] tivie commented on #114
I've just pushed a very very alpha version of the showdown refactoring. Love if you could have a look.

https://github.com/showdownjs/showdown/tree/showdown2

[2015-01-16 22:11] pdeschen commented on #114
@tivie would you mind opening a PR? I'll give it a shot at reviewing

[2015-01-16 22:15] pdeschen commented on #114
@tivie @all maybe it's time we open a google group for general discussion (both dev and user)?

[2015-01-16 23:13] tivie commented on #60
Can you provide a markdown example where this bug happens?

[2015-01-16 23:14] #38 closed

[2015-01-16 23:15] tivie commented on #38
https://github.com/showdownjs/showdown/commit/eae5f0e01fd086cfee87de5a547fcd057f59a460

[2015-01-17 02:14] pdeschen commented on #100
That's interesting. Not clear how the dep over fa and glyphicon is handled. Adding test case would be nice.

@tivie what do you about adding a wiki page to list extensions? We could link to it from the readme and move extension related details in there.

[2015-01-17 17:49] tivie commented on #100
@pdeschen I think it's a very good idea.

[2015-01-19 07:54] dbtek commented on #100
@pdeschen dependencies should be managed through bower. Fontawesome has its own bower repo. However, glyphicons is used with Bootstrap. This may have to depend on Bootstrap too.

[2015-01-19 16:37] pdeschen commented on #100
@dbtek as you see fit. We'll create a section in the extensions wiki for a list of available extension including yours.

[2015-01-19 16:48] pdeschen commented on #100
Done. Added to [Extensions wiki](extensions#community)

[2015-01-19 16:48] pdeschen commented on #100
Closing

[2015-01-19 16:48] #100 closed

[2015-01-19 18:45] pdeschen commented on #70
This is definitely not the responsibility of a converter to protect against XSS. I would defer to using a XSS filter on showdown output. See https://github.com/leizongmin/js-xss.

That being said, I think we should add a note about XSS aspects.

[2015-01-19 18:53] pdeschen commented on #102
fixed by 387978acf8734469d82cf802236265486bd92ada

[2015-01-19 18:53] #102 closed

[2015-01-19 18:59] pdeschen commented on #90
We're now back accepting PR. Feel free to send over. Otherwise, I'll just redo. Let us know.

[2015-01-19 22:28] Nate-Wilkins commented on #102
@pdeschen Thanks!

[2015-01-20 09:49] ldez opened #133 "Respect semver"
Version 0.3.4 is not compatible with version 0.3.x because the files have shift case.

\compressed\showdown.js ->
\compressed\Showdown.js

http://semver.org/

[2015-01-20 10:04] rain1024 opened #134 "MathJax Support"
Anybody here have ever used showdown with MathJax (for rendering latex) in angular?

[2015-01-20 10:09] ldez commented on #133
Note that \compressed\Showdown.js is no longer compressed.

[2015-01-20 11:45] mmavko commented on #60
Similar thing happening in @borismus's "Markdown Preview" Chrome extension (https://chrome.google.com/webstore/detail/markdown-preview/jmchmkecamhbiokiopfpnfgbidieafmd).

Here's the snippet:

[code]
[code]
<code>shell
$ python ./Texas/manage.py syncdb
$ python ./Texas/manage.py migrate
</code>
[code]

[2015-01-20 17:31] tivie commented on #133
Nice catch. We will add a note to the release referring this.

[2015-01-20 18:41] herby commented on #133
Wouldn't it be better just not to uppercase them? It broke things on our side as well. Or, release as 0.4.0, as suggested.

[2015-01-20 20:44] tivie commented on #133
@herby The change in case was a mistake (i'm not sure why it happened). The next release will revert back to lowercase. Also, dist files will live in a "dist" directory instead of "compressed".

[2015-01-20 20:54] herby commented on #133
Thanks.

Estevão Soares dos Santos wrote:

[2015-01-21 01:33] GlassGhost commented on #134
I'm trying to do something similar I found https://gist.github.com/xentec/6588519 but haven't got it working yet

[2015-01-21 02:06] tivie commented on #134
@rain1024 @GlassGhost is right. You would need a custom extension for that.

[2015-01-21 03:14] rain1024 commented on #134
@tivie How can I do it?

Currently, I walk though this problem by used these tools separately. I use `setInterval` to update mathjax outside of angular. It's acceptable but not perfect.

I hope someone will make an extension for that soon.

[2015-01-21 03:26] pdeschen commented on #134
@rain1024 you may follow the cookbook about writing extensions

https://github.com/showdownjs/showdown/wiki/extensions

Mathjax would be a nice addition!

[2015-01-21 10:05] GlassGhost commented on #134
Hope this might help a lil bit, not my work but I did credit the author in the commit log.

Also, I'm still reading the wiki on the build process & how to add a test.

[2015-01-22 03:53] GlassGhost commented on #134
BTW It's currently not working for me: @ http://minjslib.github.io/gh-template/ really would appreciate if this was added, and someone made a pull request showing me how to get it working, I did manage to get  the table plugin working.

[2015-01-22 17:21] pdeschen commented on #39
I don't think this is a bug. Markdown syntax do not support html entities. Otherwise we would end up with so many corner cases. Unless I'm missing something...

[2015-01-22 17:26] pdeschen commented on #41
Am I correct in saying that this would produce the equivalent html output? This is already documented in [divergences](https://github.com/showdownjs/showdown/wiki/divergences)

[2015-01-22 17:27] GlassGhost commented on #134
BUMP!

[2015-01-22 18:51] pdeschen commented on #134
@GlassGhost I understand you're impatient of getting this working but bumping after less than one day is a bit rude. Anyhow, I've manage to get this working but it is clearly far from perfect:

http://jsfiddle.net/uauct8vy/16/

Some work is required to get this extension fully in.

[2015-01-22 23:03] tivie commented on #41
@pdeschen Yes, it is documented

[2015-01-23 03:45] GlassGhost commented on #134
@pdeschen I'm sorry it's just my first pull request and I'm little excited.

Also I've been trying to get some more eyes and on my [gh-template](http://minjslib.github.io/gh-template/) project. I thought more than 0 people would be interested in this sort of thing.

[2015-01-23 22:18] pdeschen commented on #41
Ok invalid for now then.

[2015-01-23 22:18] #41 closed

[2015-01-23 22:21] #39 closed

[2015-01-23 22:45] pdeschen commented on #70
Best way to handle this would be to have a showdown-xss output type extension dealing with such matter. Anyone up to the task? I've added a reference in [Contributing](https://github.com/showdownjs/showdown/wiki/Contributing#extension-requests) wiki page.

Closing for now.

[2015-01-23 22:45] #70 closed

[2015-01-23 22:51] pdeschen commented on #58
That would make a nice addition. options could follow some namespace within the options hash such as
[code]

[2015-01-23 22:54] pdeschen commented on #71
We're slowly migrating most of documentation bits out of the readme file into the [project wiki](https://github.com/showdownjs/showdown/wiki).

We'll also try to better support code documentation through jsdoc in a near future.

[2015-01-23 23:02] pdeschen commented on #82
@nicovalencia I think duplicate headers should be allowed and is all fine. What if I have something like

[code]

Now you're idea about using a suffix counter is an interesting workaround. As an addition: would it make sense to add the original section title as a class (for invariable styling)?

[2015-01-23 23:11] pdeschen commented on #86
Indeed. That would be cleaner. But not a big deal as it simply covers both browser and node this way.

[2015-01-23 23:16] pdeschen commented on #99
I thought meteor-markdown was actually using showdown underneath?

[2015-01-24 00:40] tivie commented on #82
Once we merge the v2 branch, c367a4b will close this. @nicovalencia contribution should be mentioned though, somewhere appropriate.

[2015-01-24 01:11] nicovalencia commented on #82
Makes sense to me -- thank you @tivie!

:cake:

[2015-02-03 05:08] iainmcampbell opened #137 "If a string ends with a Github-style code block (```), that block isn’t parsed as a code block"
Code blocks earlier in the string are parsed fine; it's just the last one that fails.

perhaps related to https://github.com/showdownjs/showdown/issues/20?

[2015-02-03 05:12] #137 closed

[2015-02-03 05:13] iainmcampbell commented on #137
nvm, not an issue with showdown

[2015-02-03 10:09] averdion opened #138 "prueba de issue"
test

[2015-02-03 12:15] pdeschen commented on #138
Nice

[2015-02-03 12:15] #138 closed

[2015-02-15 13:48] zallek commented on #50
It's fixed in the showdown2 branch.
Note: You now need to instantiate converter using **camelcase** notation.
`var converter = new Showdown.Converter();`

[2015-02-25 22:24] SyntaxRules commented on #114
I'd like to help out as well- specifically on the AngularJs integration side.

[2015-03-02 19:10] SyntaxRules commented on #114
I'd also be happy to help migrating from grunt to gulp(v4.0 when its released) task automation.

[2015-03-02 21:09] tivie commented on #114
@SyntaxRules I'm fine with you coming aboard, if @pdeschen and @coreyti agree.

Regarding migrating to gulp, my question is: why?! The best thing would be dropping grunt (or gulp, or brocolli, or whatever) altogether and switch to pure NPM based tasks. =P

[2015-03-03 18:31] SyntaxRules commented on #114
@tivie Thanks. An advantage of gulp over grunt is speed. Its hard for me to say how much of a speed up you would get by migrating (if any) because I don't know all the specifics of how this project uses grunt.

I can see the argument for [just using npm modules](http://blog.keithcirkel.co.uk/why-we-should-stop-using-grunt/) and I totaly agree this works out well for simple projects. So maybe that

[2015-03-12 22:54] scmx commented on #133
Hi @tivie, it seems this is still a problem. `compressed/Showdown.js` is still there.

[2015-03-16 20:04] ErisDS opened #142 "Odd behaviour for multiple consecutive lists"
![](http://puu.sh/gD3FW.png)

Showdown will convert a bulleted list, followed by an ordered list, into one big ordered list with paragraphs in certain items. I believe that this is not really what most people would expect the output to be.

According to [Babelmark](http://johnmacfarlane.net/babelmark2/?normalize=1&text=*+List+Item%0A*+Other+List+Item%0A%0A1.+New+list%0A2.+More+list+items) this beh

[2015-03-23 13:03] Dexus opened #143 "image support for resize"
hi some markdown dialects support sizes (like the following)

`![](./pic/pic1_50.png =100x20)`

is ther a plan to support it?

[2015-03-27 15:45] zachad commented on #96
We're running into this too. Is it an easy fix to make to the parser?  There should be a non-character (space, or beginning of the line) before the underscore in order for it to trigger the italicized output.

[2015-03-27 21:34] pdeschen commented on #96
@zachad thanks for posting the work around!

[2015-04-05 14:16] Lusito opened #145 "Allow id generation to be disabled or customized"
Having ids generated will create conflicts with other elements in the html that might use the same id.
In my case, I never need the generated ids, so I'd like to be able to completely remove them.

[2015-04-05 14:50] pdeschen commented on #145
Disabling would be a nice addition. What about an id prefix as well? Something like 'showdown-' or  'sdn-'

[2015-04-22 13:28] tivie commented on #133
Sorry for the delayed response (been extra busy at work). Seems this is a problem with SopurceTree on Windows (does not respect the case of the files). I will fix this as soon as possible.

[2015-04-22 14:10] tivie commented on #142
Yeah, this is a known issue. We still haven't come to an agreement if we should stick to the original behaviour or not.

Personally I think this should be seen as a bug, as it doesn't really make sense. (same goes for adding paragraphs in lists)

[2015-04-22 14:12] tivie commented on #143
Hello @Dexus. Although it is a nice feature, the original specification does not include it. I believe this should be implemented as post-processing extension and not in the core library.

[2015-04-22 14:19] tivie commented on #142
related to https://github.com/showdownjs/showdown/issues/41

[2015-04-22 14:23] tivie commented on #133
This is indeed weird. As you can see, the files are lowercased in local branch but get uppercase in remote.

![image](https://cloud.githubusercontent.com/assets/1608730/7276686/6dad92b6-e903-11e4-9ae6-b86ad5fdba7e.png)

[2015-04-22 14:28] scmx commented on #133
Copy the contents, remove the files, create new files with lowercase naming and paste in the contents.
Since windows NTFS filesystem is case insensitive I sometimes has problems with detecting when a file changes name from `Showdown` to `showdown`. I'm not sure that what I wrote above will solve this, but I recognised what you describes as something I've run into before. Git should pick up the cha

[2015-04-22 14:34] tivie commented on #133
Yeah, I need a comment without dist files though. Seems git ignores case in windows.

[2015-04-22 14:51] tivie commented on #133
Should be fixed now, in [release 0.5.0](https://github.com/showdownjs/showdown/releases/tag/0.5.0)

[2015-04-22 14:51] #133 closed

[2015-04-22 20:34] ErisDS commented on #142
I completely understand that making changes to markdown behaviour when the library is following the original implementation is a tricky decision. I don't suggest going against the original lightly :)

In this particular case, I think the current output is very clearly unexpected behaviour and therefore the original behaviour can be classified as incorrect / a bug. Also as I mentioned, I think the

[2015-04-22 21:25] #90 closed

[2015-04-23 21:12] tivie commented on #145
Related to https://github.com/showdownjs/showdown/issues/82.
Id clash should be solved in https://github.com/showdownjs/showdown/commit/c367a4b9a18530ac662bb67ca4b09419680f0c34
(from v2 branch)

Worth backporting to legacy, maybe?

[2015-04-23 21:13] #145 closed

[2015-04-27 09:10] thetutlage opened #150 "hyphens are getting removed"
all of the hyphens get's removed while converting

[code]

**becomes**

[code]

[2015-04-27 16:01] tivie commented on #150
What build are you using? I cannot reproduce in develop or master.

[2015-04-27 16:23] thetutlage commented on #150
Yes that was issue with something else . Closing

[2015-04-27 16:23] #150 closed

[2015-04-29 21:26] chtixof opened #151 "Mess with id's of headers"
Hello.
`# Title` generates `<h1 id="title">Title</h1>`
Well... This is very annoying if the page already have a tag with id="title".
Is it possible not to add those id's ?
For ever or just with a parameter.
Other suggestion: add a prefix to the id (for example "showdown-")
Thanks.

[2015-04-30 00:21] pdeschen commented on #151
Related to #145 which is related to #82. Should be fixed once merged.

[2015-04-30 00:21] #151 closed

[2015-04-30 00:23] pdeschen commented on #143
@tivie as it is not a breaking change addition, maybe it could be part of core?

[2015-04-30 00:29] pdeschen commented on #142
@ErisDS I like your idea of `strict` mode. Or maybe `quirks` would be more appropriate. But then again, which of the rendering is the quirk one? :smile:

[2015-04-30 08:45] chtixof commented on #151
OK, Merci Pascal.

[2015-05-09 18:05] ohjames commented on #114
Not enough power, no incremental rebuilds etc. etc.

[2015-05-12 19:21] johnjelinek opened #152 "Table Format?"
| The | Nice | Table |
| ----- | ------ | -------- |
| This should render | as a table | in html |

[code]

[2015-05-13 12:18] jcbrand commented on #152
It already exists as an extension, see here: https://github.com/showdownjs/showdown/blob/master/src/extensions/table.js

[2015-05-13 14:33] tivie commented on #152
@jcbrand is right. Closing

[2015-05-13 14:33] #152 closed

[2015-05-13 14:47] pdeschen commented on #152
@johnjelinek do you have suggestion regarding the documentation setup that we could improve in order for people like you to easily spot extensions besides our [wiki page](https://github.com/showdownjs/showdown/wiki/extensions#list-of-known-extensions)

[2015-05-14 02:05] #82 closed

[2015-05-14 18:29] johnjelinek commented on #152
table is a little strange as an extension, isn't it?

[2015-05-14 19:36] tivie commented on #152
@johnjelinek Not at all. This type of table syntax is non-standard. In fact, the [original markdown spec](http://daringfireball.net/projects/markdown/) does not include tables at all (just through html inclusion). Showdown core library tries to follow this spec as much as possible. This is why tables are provided as an extension, not int he core

[2015-05-15 01:53] johnjelinek commented on #152
oic. I think in terms of docs, I wasn't expecting to search for extensions to find tables.

[2015-05-15 21:13] tivie commented on #50
fixed in eae5f0e

[2015-05-15 21:13] #50 closed

[2015-05-22 17:14] markgeraty commented on #70
@pdeschen We just published [showdown-xss-filter](https://github.com/VisionistInc/showdown-xss-filter) to npm using the library you suggested above.  Seems to work great, hope that helps!

[2015-05-22 17:29] pdeschen commented on #70
@markgeraty nice! you should add unit test and bower support eventually, with a dep over xss (which is already available within bower)

[2015-05-22 17:38] markgeraty commented on #70
Created issues for those - feel free to create an issue for anything else you think we are missing!

[2015-05-22 21:06] tivie commented on #70
Awesome! Kudos!

************************************************
Estevão Soares dos Santos

************************************************

2015-05-22 18:38 GMT+01:00 Mark <notifications@github.com>:

[2015-05-26 18:40] tivie opened #153 "Passing an option in a specific showdown.Converter affects other instances of showdown"
Passing an option to a specific converter affects other instances of the converter since options are merged into showdown's global options

Example:

[code]

outputs

[code]

[2015-05-27 01:23] #153 closed

[2015-05-28 11:48] acourtiol opened #155 "Missing comma in dist file"
Hello,

Since the latest releases we are having an issue when we concat all our external libs into our vendors file. This problem is coming from a missing comma in the footer of `dist/showdown.js`.

I already tracked down the issue to your gruntfile:
- https://github.com/showdownjs/showdown/blob/master/Gruntfile.js#L14

I'll link a pull request to this issue to fix this in the next minutes.

Thank

[2015-05-28 13:07] acourtiol commented on #155
By the way, looking at the [ng-showdown](https://github.com/showdownjs/ng-showdown) repository, I think you're going to have the same problem there.

[2015-05-28 20:48] #155 closed

[2015-05-28 20:48] tivie commented on #155
Thanks @acourtiol Tested locally seems the issue is fixed with your PR

[2015-05-28 21:28] tivie commented on #126
Feature added in version 1.0.0 https://github.com/showdownjs/showdown/commit/e6f40e19

[2015-05-28 21:28] #126 closed

[2015-05-28 22:03] tivie commented on #57
This is a necro issue, but I got the time to play around with showdown and XSS.

In short, my conclusion is that you can't really prevent XSS attacks with markdown and claiming to do so will probably give some sense of false security, which is worse.

The 2 rules of thumb are:
  - filter for XSS after Showdown has processed any input, not before
  - preferably server side, not client side

[This e

[2015-05-28 22:03] #57 closed

[2015-05-28 23:46] tivie commented on #60
THis was fixed in https://github.com/showdownjs/showdown/pull/147

[2015-05-28 23:46] #60 closed

[2015-05-28 23:54] tivie commented on #142
So, I've tried to reach John Gruber by email to ask what it's opinion on this particular issue but he didn't answer (go figures =P). So I say we fix this in the next release.

@pdeschen @SyntaxRules what's your take on this?

[2015-05-29 15:26] JonathanHayward opened #157 "1.0.2 breaks my instantiation of converter"
I recently upgraded the version of Showdown in my webapp from 0.9.x to 1.0.2; my inclusion now reads:

    <script
      src="//cdnjs.cloudflare.com/ajax/libs/showdown/1.0.2/showdown.js">
    </script>

However, when in my code I called as per http://showdownjs.github.io/showdown/:

  var converter = new Showdown.converter();

it ceased working with either (s)howdown or (S)howdown. (S)howdown was

[2015-05-29 15:35] pdeschen commented on #157
@JonathanHayward Hum interesting. You just cut us in the middle of our release, where we have component that haven't been updated completed and hence the out of sync issue you're facing. Hang in tight, we'll resolve those bumps shortly.

New instance from 1.x are now using the following construction

[code]

That being said, I thought we were backward compatible in terms of API. @tivie ?

[2015-05-29 15:56] JonathanHayward commented on #157
Thanks! My code runs without crashing now.

Thanks...

[2015-05-29 17:48] tivie commented on #157
@JonathanHayward  v 1.0.0 breaks compatibility in a few key points.
[see CHANGELOG.md](https://github.com/showdownjs/showdown/blob/master/CHANGELOG.md).

@pdeschen maybe we should add CHANGELOD.md contents to the webpage? make it visible so that people can find it easily?

[2015-05-29 19:44] JakobKallin commented on #57
Correct. As I wrote in my original comment, Markdown already allows markup injection by design, so this doesn't introduce any (unintended) security issues. It's still a defect, though, causing invalid markup to be generated in some cases. To avoid it, URLs should be HTML-escaped before being inserted between attribute quotes.

[2015-05-29 20:48] tivie commented on #57
@JakobKallin I agree. The problem is assuring that by URL encoding, well, URLs, we won't break the parser. I will look into it.

[2015-05-29 21:47] pdeschen commented on #157
@tivie Right forget about those bits. I just added a link to the changelog into the Help section of the website. Key here was to at least have the code sample in the "Use It" section to be valid. My bad!

[2015-05-29 21:47] #157 closed

[2015-05-29 22:29] JakobKallin commented on #57
Also keep in mind the difference between URL encoding and HTML escaping (neither of which has a standardized name as far as I know): URL encoding replaces characters that are not allowed in URLs, while HTML escaping replaces characters with special meaning in HTML. While I think both would work fine here in practice, HTML escaping is the correct one in this context.

[2015-05-29 22:54] tivie commented on #70
For more information, please see the wiki page about [Markdown's XSS Vulnerability and how to mitigate it](https://github.com/showdownjs/showdown/wiki/Markdown's-XSS-Vulnerability-(and-how-to-mitigate-it))

[2015-05-31 16:45] fir3pho3nixx commented on #143
I strongly disagree. Images should have first class support.

[2015-06-03 13:25] be-next-hotdog opened #158 "showndown doesnt translate correctly ordored list to html."
While i was trying to input an ordered list as follow :

1.  some text
2.  some text
3.  some text

showdown would transfer these to an unordered list in html :

 * some text
 * some text
 * some text

eventually a bug ? Or showdown is not able to differentiate ordered list and unordered list ?

[2015-06-03 23:33] tivie commented on #158
@be-next-hotdog showdown does indeed support ordered lists. In fact i could not reproduce the bug you described. Can you provide more context?

Heres a working fiddle with showdown parsing correctly a ordered list...
http://jsfiddle.net/7reex9sq/1/

[2015-06-04 08:22] be-next-hotdog commented on #158
For the test cases :

Test case 1 :

* Foo
* Bar
* Baz

1. Foo
2. Bar
3. Baz

Transformation result 1:

* Foo
* Bar
* Baz
* Foo
* Bar
* Baz

Test case 2 :

1. Foo
2. Bar
3. Baz

* Foo
* Bar
* Baz

Transformation result 2 :

1. Foo
2. Bar
3. Baz
4. Foo
5. Bar
6. Baz

It seems like that showdown will transform to ordered / unordered list according to the first list element type.  Otherwise caused by

[2015-06-04 11:05] 8Miles-Mai commented on #158
yeap.
But we can do like this:
1. 1
2. 2
3. 3

#like this, add an list separator

+ 1
+ 2
+ 3

[2015-06-04 12:48] tivie commented on #158
@be-next-hotdog yes, this is a known bug/gotcha/feature (we haven't really decided was that is).

John Gruber's (the markdown creator) lib had this odd behavior. According to the author, it is in fact intended. I doubt it... but we haven't yet decided to "fix" this since we want to adhere to the original spec as much as possible.

As a workaround, you can add any character bewteen the 2 lists (as

[2015-06-04 12:49] tivie commented on #158
Duplicate of https://github.com/showdownjs/showdown/issues/142

[2015-06-04 12:49] #158 closed

[2015-06-04 13:26] be-next-hotdog commented on #158
Yepp, I knew this solution before, and we could also type a space to each element as :

* test
* test
 1. test
 2. test

in this case, the showdown will regard the second ordered list as a sublist. StackEdit follows this rule either, also the github comment tool which we use here.

Thx all the same guys !

[2015-06-05 02:14] 8Miles-Mai commented on #152
Where can I get the extension, the follow url is missing now.
https://github.com/showdownjs/showdown/blob/master/src/extensions/table.js

[2015-06-05 21:45] ravisorg opened #159 "Table of Contents extension [toc]"
I threw one together for a project and thought others might find it useful as well. If anyone would find use for such a think, it exists here:

[showdown-toc](https://github.com/ravisorg/showdown-toc)

[2015-06-06 02:43] tivie commented on #159
Interesting extension. Seems the code can be simplified a bit to remove the dependency on jquery.
Thanks for the contribution

[2015-06-08 20:03] ravisorg commented on #159
That's a very good point and something that somehow completely slipped my mind while writing it. I want to make a couple enhancements / changes when I have a moment, and I'll add "remove jQuery" to that list.

[2015-06-09 11:07] theking-laptop opened #161 "Overwrite element converter function"
Sometimes, I need to decorate transformed markdown element. For example,
[code]

I used [marked](https://github.com/chjj/marked) and it lets me do that. Would you want to expose a way to overwrite default converter function of all markdown element types?

[2015-06-10 12:37] tivie commented on #161
@theking-laptop this is already possible. You can use two methods:
  - the documented one, by using a showdown (output) extension.
  - the undocumented one, by overriding a subparser completely.

You can override a subparser by redifining it. Check https://github.com/showdownjs/showdown/tree/master/src/subParsers
for the available parsers. If you need help with a specific question let me know.

Th

[2015-06-10 12:41] tivie commented on #159
If you need help let me know. you may also want to check the extension boilerplate. Although it's not really ready, (we're building it for the next release of showdown that will contain major changes to the extension mechanism) it can help you speed up development, specially with tests

github.com/showdownjs/extension-boilerplate

[2015-06-10 12:46] tivie commented on #143
This will probably make it in the next release, as an opt in feature.( means you have to enable it explicitly)

[2015-06-10 12:46] tivie commented on #143
Through options

[2015-06-13 17:57] #142 closed

[2015-06-13 18:03] tivie commented on #142
@ErisDS The commit 0bdd02b partially fixes the issue.

Now

[code]

is parsed into

[code]

I couldn't pinpoint the origin of the issue with the extra paragraphs, I will have a look as soon as possible

[2015-06-15 03:45] tivie commented on #161
Closing as there was no reply in 6 days

[2015-06-15 03:45] #161 closed

[2015-06-17 00:27] #143 closed

[2015-06-17 00:29] tivie commented on #143
Added this feature as an opt in. To enable it you must use the option `parseImgDimensions`

example:
[code]

[2015-06-17 00:33] tivie commented on #116
This would be a better fit as an extension maybe.

[2015-06-17 00:33] #116 closed

[2015-06-17 00:38] tivie commented on #96
@pdeschen It's not a bug, it's by design

Showdown is vanilla markdown. As stated in the [original specifications](http://daringfireball.net/projects/markdown/syntax#em):

The correct way to prevent the behavior (or to create a literal asterisk or underscore) is to escape it with backslash, as stated in the specs:

[2015-06-17 00:38] #96 closed

[2015-06-17 00:45] tivie commented on #96
Also I could not reproduce the issue @shhQuiet refers to!

Please provide an example where showdown incorrectly parses links and images with underscore so we can have a better understanding of the issue.

[2015-06-17 00:50] tivie commented on #58
Feature added in 33f64f60c94c561776c848c375fa49b19d6c3883

The new extension mechanism passes the full options object to extensions. So you can do something like this:
[code]

and retrieve `conditions: a` from within the extension

[2015-06-17 00:50] #58 closed

[2015-06-17 01:20] #69 closed

[2015-06-17 01:22] tivie commented on #69
Added this feature in  b84ac67

To set the header level start to 3 (`<h3>`) just pass it as an option. Example:
[code]

[2015-06-17 01:27] tivie commented on #86
This should be fixed in v 1.0.* since now showdown explicitly registers itself into `window`on browser context.

See https://github.com/showdownjs/showdown/blob/1.0.0/dist/showdown.js#L1685

[2015-06-17 01:27] #86 closed

[2015-06-17 02:44] tivie commented on #99
I can't really reproduce this issue... this is probably an issue with moustachejs being used with showdown (if that is moustachejs).

More info needed.

[2015-06-17 02:45] tivie commented on #99
I will close it for now. If more info is provided I can reopen and try to find a solution

[2015-06-17 02:45] #99 closed

[2015-06-17 12:26] fir3pho3nixx commented on #143
Great stuff, thank you :)

On Wed, 17 Jun 2015 at 01:29 Estevão Soares dos Santos <
notifications@github.com> wrote:

[2015-06-18 09:14] SystemParadox commented on #96
But vanilla markdown is unmaintained and broken in this behaviour. Could an option be added to support github flavoured markdown?

Thanks.

[2015-06-18 17:24] tivie opened #164 "Include Github Flavored Markdown(GFM) in core as an option"
## Introduction

Showdown tries to follow vanilla markdown (with all its quirks and perks) as much as possible but several related issues (see #96, #152, for instance) were raised requesting showdown to fully support GFM.

(**See GFM differences from traditional Markdown [here](https://help.github.com/articles/github-flavored-markdown/#differences-from-traditional-markdown)**).

 Some features of

[2015-06-18 17:25] tivie commented on #96
@SystemParadox @pdeschen https://github.com/showdownjs/showdown/issues/164

[2015-06-18 17:26] tivie commented on #96
<http://www.google.com>

[2015-07-03 05:01] jeromecovington opened #167 "Test coverage for helpers.js"
Is there test coverage for `helpers.js`? And a related question: has there ever been talk of adding [underscore](https://github.com/jashkenas/underscore) as a dependency? This way showdown would get things like `isString`, `isArray`, etc. in addition to the test coverage maintained by that library.

[2015-07-03 12:29] chinnichaitanya opened #168 "Mention support for chrome/chromium in README.md"
I don't find **chrome/chromium** [here](https://github.com/showdownjs/showdown/issues/70) in the browser compactibility in README.md.

[2015-07-03 12:57] #168 closed

[2015-07-03 13:15] tivie commented on #167
Thanks @jeromecovington for the suggestion. We actually thought of using lodash as a dependency.However, we decided against it for the time being.

The problem of having a dependency on a monolithic library such as underscore/lodash is that it can make showdown incompatible with other libraries that use a different version of said library in a browser environment.

One way of preventing version cl

[2015-07-06 16:48] grofit opened #169 "{$$} being converted to {~D~D}"
I am porting over from another markdown framework and I was wanting to be able to look for `{$$}blah{/$$}` blah, and I wrote my extensions and regex but was baffled when it was not matching. Upon debugging it appears that the dollars are being changed to ~D... I have not seen this as part of the markdown spec anywhere so was wondering if this is a known thing and why it happens?

I am happy to jus

[2015-07-06 18:54] grofit commented on #169
its ok I finally found the Gotchas section.
[code]

[2015-07-06 18:54] tivie commented on #169
@grofit `RegExp` interprets $ (dollar sign) as a special character when it's in a replacement string so we need to escape it. This happens **before the language extensions are run** so they need to take into account this behavior. In fact, it is needed because language extensions might recursively call `showdown.makeHtml()`.

However, special chars are **unescaped before output extensions are run*

[2015-07-06 18:57] grofit opened #170 "Ordering extensions?"
Hey I have an issue where I am trying to parse some content out and add some custom output around it, now it works fine, but for some reason I am noticing that underscores `_` are automatically getting converted to `<em>` when I do not want them to be, so is there a way for me to order my extension to run at the end or a way to tell it not to process this section any further?

[2015-07-06 19:00] #169 closed

[2015-07-06 19:09] tivie commented on #170
Have a look at the Output Extensions. https://github.com/showdownjs/showdown/wiki/Extensions#creating-markdown-extensions

example:

[code]

Output extensions are ran only after all core parsers and lang extensions are ran.

[2015-07-06 19:33] grofit commented on #170
I did see them and they operate on the HTML rather than the original markdown content right? I was hoping I wouldn't need to go through the html and the markdown but will give it a go.

[2015-07-06 20:04] tivie commented on #170
### Composite extensions

If you need to use a language extension, you can defer modifications for last using a combination of a language extension and a output extensions.

For instance, let's say you want to parse/capture every char sequence between `%start%` and `%end%`. However, that content should not be modified by showdown (all chars must be literal)

You can create a lang extension that lo

[2015-07-06 20:07] grofit commented on #170
I assume these are edits as they were not there when I originally looked, this approach seems far easier as the `<em>` additions may just be one use case, thanks a lot for your help!

[2015-07-06 20:11] tivie commented on #170
@grofit yeah. I added a fiddle and a code example. Easier to demonstrate.

[2015-07-07 09:42] tivie commented on #170
Marking as closed since the issue seems to be resolved.

[2015-07-07 09:42] #170 closed

[2015-07-07 09:50] tivie commented on #164
Bumping @pdeschen @SyntaxRules

[2015-07-07 16:29] grofit commented on #170
Yeah thanks, although I have noticed that some custom extensions I am using purely for allowing custom bindings within my own system getting butchered even with the above steps, I am not sure if it is the xss plugin though.

i.e the text leaves the output step looking like:

`<a class='some-class' data-bind='click: function(){ someMethod('some-string', 'other-string'); }'>Some Text</a>`

but then

[2015-07-07 18:56] tivie commented on #170
It seems to be the xss filter. Just disable it and check if fixes the issue.

[2015-07-07 19:32] grofit commented on #170
turns out its not the xss filter, I turned it off, completely removed it from the project, still happens, I am gonna try removing all other plugins see if it happens, It is unrelated to this but will possibly raise another issue.

[2015-07-07 19:49] grofit opened #171 "Strange issue with custom extension in Firefox but not in Chrome"
So here is a jsfiddle showing the issue:

https://jsfiddle.net/t6f9yz7y/

If you look at the source in chrome it looks normal, but if you look in firefox it is all garbled, is this a known issue?

[2015-07-07 21:26] tivie commented on #171
Yeah, you're right. This is baffling me too.

On latest Safari and Chrome the output is correct.

On IE 11 and Firefox it's broken.

@pdeschen thoughts?

[2015-07-07 22:26] tivie commented on #171
Actually, it does not work in ANY browser, the output is just different.

**The problem does not have anything to do with Showdown**... it is caused by a mXSS filter in modern browsers.

Basically, everything you feed to the innerHTML property gets XSS filtered, which your example falls perfectly into.

For instance, you can observe this behaviour without using showdown at all:

[**CODEPEN**](http

[2015-07-07 22:26] #171 closed

[2015-07-08 01:57] tivie commented on #170
The issue is browser related and not showdown related

check https://github.com/showdownjs/showdown/issues/171 for more info

[2015-07-08 05:35] SyntaxRules commented on #164
I think Adding in the [GFM](https://help.github.com/articles/github-flavored-markdown/) features is smart, and an easy way to compete with other parser's out there.

[Marked](https://github.com/chjj/marked) does this via on option, but i would discourage putting it as an option in Showdown. The advantage Showdown has over Marked is that it is easily extendable. I think all of these quirky features

[2015-07-08 07:20] grofit commented on #171
Never knew that, I know that knockout allows you to set the html content of an element with this sort of thing so I will go look at see how they do it and see if I can replicate, although its gonna be difficult as I guess all I can do from showdowns perspective is output html, maybe I can use `data-*` attributes to feed my data in and then have a custom binding for linking and see if that works...

[2015-07-11 13:50] tivie commented on #164
@SyntaxRules Yeah, I agree. The only thing is that some features have to be included directly in core, since they would need to be run in a specific order, something that showdown extensions don't support.

[2015-07-12 01:25] #164 closed

[2015-07-13 04:49] tivie commented on #101
Commit d079154260f80ed71e9dbadbcf9613f2a2eb6d62 introduces a cli tool.

[2015-07-13 04:49] #101 closed

[2015-07-13 04:50] tivie commented on #71
@pdeschen Documentation is getting a bit outdated.

[2015-07-13 22:21] Sophie-OS opened #173 "Ghost's custom extensions broke on latest version"
I'm using [ghost](https://ghost.org/) that comes with an old version of showdown bundled. I tried to update it to showdown's latest version but some of ghosts custom extensions broke.

I've checked your changelog and there is no mention of dropping support for old extensions. When did this happen? What is the right procedure to enable support for old extensions?

[2015-07-13 22:38] tivie commented on #173
We still maintain support for old extensions, nothing changed. But from what I could gather, it seem ghost is using a fork from an old version of showdown, that made a couple of changes directly into core.

Your best bet is to ask directly in the [ghost project issue tracker](https://github.com/TryGhost/Ghost/issues)

[2015-07-14 10:01] Sophie-OS commented on #173
The lastest Ghost showdown is broken as they have a couple of nasty issues that couldn't fix yet.

I think Showdown being used as Ghost MD engine has increased showdown's popularity, as Ghost is a very popular blog system nowadays.

Maybe Showdown's and Ghost's teams could work together to bring the latest awesome features in showdown to ghost?

I've managed to fix some issues in my local dev mach

[2015-07-14 14:43] tivie commented on #173
Ghost's Showdown is too far behind (and different) to backport all modifications and improvements.

However, I had a good look at Ghost's source code and it shouldn't be too hard to use Showdown (original!?) instead of showdown-ghost.

[2015-07-14 15:48] tivie opened #174 "literalMidWordUnderscores breaks em and strong at the beginning and end of lines"
When `literalMidWordUnderscores`is set to true, em and strong spans that start or end a paragraph don't get parsed as such.

[2015-07-14 15:51] #174 closed

[2015-07-15 14:58] tivie commented on #173
@Sophie-OS follow up on https://github.com/ErisDS/showdown/issues/5

Closing issue here

[2015-07-15 14:58] #173 closed

[2015-07-20 12:06] grofit opened #177 "creating extension based off existing rules?"
So say for example I want to basically make a slightly altered blockquote.

[code]

Now I know I can manually write regex to find the `:>` and do my own interpretation of what a block quote does, but is there any way for me to basically just extend the existing block quote handler in any way, or make any re-use of the existing logic?

In my scenario I would want to basically add a custom class to

[2015-07-20 13:05] tivie commented on #177
You can call the default subParsers inside an extension.

For instance, in your case, you can create a lang extension that looks for `:>` and then, in that extension, call the default blockquote subParser:with:

    showdown.subParser('blockquote')(text, options, globals);

[2015-07-20 13:08] grofit commented on #177
oh right, sounds good... ok so one other thing I found when trying to do custom code style handlers was that my custom extension seemed to get ignored in favor of built in ones, for example the code one, if I was to have a regex of:

<pre>
(?:```\s?diagram[s]?)(.*)(?:```)/gm
</pre>

Then I had some markdown like so:

<pre>
[code]
</pre>

I would expect to grab the "woop woop" but my extensions do

[2015-07-20 13:44] grofit commented on #164
A bit confused by this, I see in the documentation on the front page it mentions that `tables` and `strikethrough` are valid options for a convertor, which imply that showdown supports them by default. However looking on the wiki and at this issue imply that they are actually separate addons, so are the docs wrong or is there some mix up?

[2015-07-20 14:51] tivie commented on #177
GFM fenced codeblocks

[code]

get parsed before calling language extensions (a necesssary evil to prevent nasty bugs). So, in order to parse the same markup, you need to disable GFM fenced blocks by default.

You do that by passing `converter.setOption('ghCodeBlocks', false);`

Then your extension will grab `woop woop`.

Inside your extension, you can call `subParser('githubCodeBlocks')(text, opt

[2015-07-20 14:59] tivie commented on #164
In short:
GFM is supported by showdown via options. Those options are disable by default. No extra extensions are needed.

-----------------------

Showdown supports them if you activate them via options. Else, you get vanilla markdown. Give it a try.

Where in the wiki? Please add a link so we can update to make things a bit more clear.

This issue might confuse people since it refers to "plugins

[2015-07-20 15:22] grofit commented on #164
https://github.com/showdownjs/showdown/wiki/extensions

That lists the extensions for table etc.

I did try to use the options and they didnt seem to change anything.

[code]

Then if I were to add
[code]

as shown in the example, it does not get processed, it just outputs it within a `p` tag, unless I am doing something wrong.

[2015-07-20 15:24] grofit commented on #177
I mentioned it above but what should be passed in to options and globals? as I seem to get some errors if I leave them empty.

[2015-07-20 16:41] tivie commented on #164
Are you using version 1.2.0 ?

Enviado do meu iPhone

No dia 20/07/2015, às 16:22, LP <notifications@github.com> escreveu:

[2015-07-20 18:52] tivie commented on #177
You can't get options and globals from converter

subParser('githubCodeBlocks') calls hashBlock subparser that uses globals.gHtmlBlocks to extract and save references to previously parsed HTML blocks. https://github.com/showdownjs/showdown/blob/master/src/subParsers/hashBlock.js

So if you want to call a core subParser you need to make some adjustments.

You need to replicate the globals var (http

[2015-07-20 18:59] tivie commented on #177
Another way is to replace the existing githubCodeBlock suybParser with your own but..

## WARNING

**That is an undocumented feature that should NEVER, and i repeat, SHOULD NEVER be used in an EXTENSION, specially in extensions available for third parties**

Also, you should not rely too much on that feature because it can change in the feature.

## Example

basically, you replace the subparser wi

[2015-07-20 19:54] grofit commented on #164
Sorry for the afk-ness, no I am on 1.1.0, but I only got that like a week or so ago, has it already changed so much? will go get latest and see what happens.

[2015-07-20 19:56] grofit commented on #177
ok thanks for the info, will look more into it tomorrow and get back to you.

[2015-07-20 22:40] #114 closed

[2015-07-20 22:41] #177 closed

[2015-07-20 23:27] SyntaxRules opened #178 "Markdown inside HTML doesn't parse"
When there is markdown inside of html it doesn't seem to parse.

For example:

[code]

renders as:

![image](https://cloud.githubusercontent.com/assets/4117657/8789879/de11ec58-2efb-11e5-9d76-a8930a746408.png)

Using showdown v1.2.0.

Was this done by design? Or have we not had a need for it?

[2015-07-21 07:38] grofit opened #179 "Core table functionality not working as expected?"
So I have got 1.2.0 and have enabled tables option and used the example markup

<pre>
| *foo* | **bar** | ~~baz~~ |
|:------|:-------:|--------:|
| 100   | [a][1]  | ![b][2] |
</pre>

and it generates

![Image](https://dl.dropboxusercontent.com/u/98595151/ShareX/EMBERSOFT1/2015-07-21_08-35-53.png)

Now I was expecting that the headers would have their `*` and `~~` parsed into styling, however it j

[2015-07-21 11:42] tivie commented on #179
Actually, this is by design since it follows md tables spec1. However spec 2 does allow span elements in the titles. see https://michelf.ca/projects/php-markdown/dingus/

I will add a milestone and implement it in a future release.

[2015-07-21 11:44] grofit commented on #179
no worries, it just seemed odd that the example on the website included this if it is not supported.

[2015-07-21 11:50] tivie commented on #178
Actually, according to spec, elements inside html blocks should not be parsed by md engine. It is assumed anything inside an HTML block is already in HTML so it shouldn't need to be parsed.

The original markdown.pl, however, had a way of parsing HTML blocks by "marking" them with `markdown="1"`.

Example:

[code]

This was one of the project's original milestones. However, since no one has reques

[2015-07-21 12:40] tivie commented on #179
Ah, good catch

[2015-07-21 12:42] tivie commented on #179
Fixed it in the README.md

[2015-07-22 11:20] tivie commented on #179
give it a shot

https://github.com/showdownjs/showdown/pull/180

[2015-07-22 13:48] grofit commented on #179
Just got the latest showdown.js from the dist folder on master and it still seems to be acting the same, the commit says its against master, could it just be that the dist was not updated?

[2015-07-22 13:57] tivie commented on #179
you need to use the tivie-patch-1 branch

[2015-07-22 13:57] grofit commented on #179
ah kk, will give it another go shortly, thanks again for the quick turn around.

[2015-07-22 17:26] #179 closed

[2015-07-23 19:44] SyntaxRules commented on #178
I would greatly enjoy this feature. My main use case is to be able to decorate markdown to look prettier. But I can understand why the original spec didn't make heavy provisions for it- markdown should be markdown, not markdown with html.

That being said github doesn't support this.

[2015-07-24 07:59] phw opened #182 "Add an option to escape HTML"
Currently showdown will happily accept all HTML and in addition parse the markdown. The result contains both the original HTML and the result from markdown interpretation. As the input might contain potentially dangerous code (such as `<script>`) it would be nice to have the option that showdown escapes all existing HTML.

**Example:**
[code]

Expected output:
[code]

Actual output:
[code]

To fix

[2015-07-24 13:06] tivie commented on #182
See  https://github.com/showdownjs/showdown/wiki/Markdown's-XSS-Vulnerability-(and-how-to-mitigate-it)

also check related issues:
 - https://github.com/showdownjs/showdown/issues/57
 - https://github.com/showdownjs/showdown/issues/70
 - https://github.com/showdownjs/showdown/issues/171

[2015-07-24 13:06] #182 closed

[2015-07-24 13:14] phw commented on #182
If I strip the word "dangerous" from my initial comment and edit the examples to be less security related, will you re-open this?

Seriously, my main concern was the following usecase:

1. I want to allow users to use the pure markdown syntax
2. I don't want users to use pure HTML

So `**bold**` is fine, but `<b>bold</b>` isn't. If the user enters the markdown version it should be displayed as **b

[2015-07-24 15:54] tivie commented on #182
Sure, seems a valid enhancement when not used as a security feature.

From the top of my head i think this can actually be implemented as an extension.

[2015-07-28 15:46] callmehiphop opened #183 "Code blocks within lists do not render properly"
https://jsfiddle.net/pj0q712s/1/

[2015-07-30 19:33] SyntaxRules opened #184 "``` Indented code blocks not parsed"
When code blocks are indented, they do not parse. Specificy, when the \`\`\` is indented, the preceding code block is ignored.

**Markdown:**
<pre>
The following example defines...

[code]
</pre>

**Expected output:**
  The following example defines...

[code]

[2015-07-30 21:36] tivie commented on #184
related to #183

[2015-07-30 21:36] tivie commented on #184
I'm on it. I've fixed the issue locally, I will push when a few edge cases are fixed

[2015-07-30 23:40] stephenplusplus commented on #184
Thanks, @tivie!

[2015-08-01 20:08] #183 closed

[2015-08-01 20:08] #184 closed

[2015-08-01 20:09] tivie commented on #183
This issue should be fixed in 7720c88. If you could have a look please

[2015-08-01 20:27] tivie commented on #142
7720c88 now totally fixes this issue.

[code]

gets parsed into

[code]

[2015-08-03 23:06] callmehiphop commented on #183
@tivie looks good to me! Thanks! :+1:

[2015-08-04 10:28] tivie commented on #183
Great! Thanks!

[2015-08-04 17:53] SyntaxRules commented on #184
@tivie Thanks!

[2015-08-05 14:37] SimonButtazzi opened #185 "merged lists"
Hey,
writing something like this:

*&nbsp;foo
*&nbsp;bar

test

1.&nbsp;foo
2.&nbsp;bar

works fine: Creates &lt;ul&gt; followed by "test" and &lt;ol&gt;.
But doing something like this:

*&nbsp;foo
*&nbsp;bar

1.&nbsp;foo
2.&nbsp;bar

merges the two lists into one using style of the first one. In this case it will be &lt;ul&gt;.

[2015-08-05 15:08] tivie commented on #185
@SimonButtazzi What version are you using?

Check [http://showdownjs.github.io/demo/](http://showdownjs.github.io/demo/). It uses showdown latest (currently v 1.2.2) and is working properly with your example

[2015-08-06 08:59] SimonButtazzi commented on #185
@tivie you are right.
this was included in another package and very outdated.

Sorry, definitively my mistake.

Simon

[2015-08-06 08:59] #185 closed

[2015-08-07 05:51] oliverjanik opened #186 "Can I add css classes to rendered html?"
E.g. I'd like to attach a class to a rendered image like so

`![1][ref class=left]]`

[2015-08-08 14:09] tivie commented on #186
Directly in markdown you can't. You can, however, use the normal html syntax:

[code]

[2015-08-10 07:42] ColinFrick opened #187 "simplifiedAutoLink with Mail Links"
With simplifiedAutoLink mail addresses in the text are not parsed correctly:
[code]
is parsed to
[code]
instead of
[code]

simplifiedAutoLink does not use the internal replaceMail function.

[2015-08-11 04:59] #187 closed

[2015-08-11 04:59] tivie commented on #187
should be fixed now

[2015-08-12 10:37] ColinFrick commented on #187
Thanks!

[2015-08-14 12:31] soubok opened #189 "remove root paragraph"
I would like to use showdown to convert small markdown strings and I would like to remove single surrounding paragraph tags.
Currently I use a regexp to achieve this but I wondering if there is a more elegant way to do this.
Is your extension mechanism suitable for it ?
Thanks.

[2015-08-14 20:03] tivie commented on #189
Yes, a lang extension would be suitable for this.

For instance, if all you want is to parse span elements (suchs as bold, italics, inline code, etc...) you can create a lang extension that catches all text and then passes it through spanGamut subSparser.

**Untested code**
[code]

This is just a crude example, but you get the idea.

[2015-08-14 20:25] tivie commented on #189
Another **less** hackish way is to use an output extensions that replaces the `<p>` tags

**untested code: works only in browser**
For this to work on node, you must use a DOM parser
[code]

[2015-08-14 20:26] tivie commented on #186
Closing as no followup for 6 days

[2015-08-14 20:26] #186 closed

[2015-08-15 13:02] soubok commented on #189
Thanks for your response. In fact I just want to make ```markdownConverter.makeHtml('hello **world**')``` to return ```'hello <strong>world</string>'``` instead of ```'<p>hello <strong>world</string></p>'```. (I am using showdown with nodejs)

[2015-08-15 15:58] tivie commented on #189
@soubok Then the solutions I gave you should work.

[2015-08-19 11:47] d-sko opened #190 "Get converter options in extension"
Hi, I have a question about lang extensions: it is possible to get the current converter options (not the global default options, but the options passed to the converter-constructor or set by `converter.setOption()`) in the replace function?

[2015-08-19 15:01] tivie commented on #190
@d-sko In the replace function no. But you can get them in the filter function

example:

[code]

[2015-08-19 15:03] grofit commented on #177
Hey, sorry to re-raise this, I was working on some other stuff and only just got back around to looking at this area specifically.

So lets have a solid example:

`:> Hello`

I would want the output

`<blockquote class="custom-class">hello</blockquote>`

So I looked into the `blockQuotes` subParser, and did as you said:

[code]
So it will look for `:>` and any text following it (as well as on mult

[2015-08-20 03:12] tivie commented on #177
@grofit Can you make a fiddle or codepen with that?

[2015-08-20 06:38] grofit commented on #177
Sure here you go:
http://codepen.io/anon/pen/mJZrmb

That gives same output with the line appearing instead of the expected block quote.

[2015-08-20 11:30] d-sko commented on #190
@tivie that solved my problem, thank you :+1:

[2015-08-20 11:30] #190 closed

[2015-08-21 03:16] tivie commented on #177
Your parsed content is actually in `dummyGlobals.gHtmlBlocks` array. But  need to simulate every parse count to obtain the right element.

I think your best bet is to call the converter object instead.

check the updated http://codepen.io/anon/pen/xGoYmw

[2015-08-21 07:07] grofit commented on #177
That was one of the first sort of things I tried, but then I noticed that things like this occurred:

http://codepen.io/anon/pen/LVKdvd

Where things would behave a certain way with normal bqs but these custom BQs would behave differently, like having headings within them or the following headings would not get processed.

[2015-08-23 00:48] tivie opened #191 "Blockquote followed by an heading"
So, it came to my attention that this:

[code]

gets parsed into something like:

[code]

Now, the spec states that you can be lazy and only put the > before the first line of a hard-wrapped paragraph. So the correct output should be:

[code]

In fact, github behaves like this (so does markdown.pl)

But other noteworthy implementations behave like showdown, such as:
- stackoverflow
- commonmark
-

[2015-08-23 01:09] tivie commented on #177
@grofit That's actually a problem with your regex and parsing.

see http://codepen.io/tivie/pen/eNqOzP for a working example.

**Note:**

I incidentally found a "quirk" in how showdown behaves regarding headings following blockquotes, see https://github.com/showdownjs/showdown/issues/191 for more info

regardless, this example I gave you is working properly

[2015-08-23 06:14] grofit commented on #177
I was using the regex from the blockquote parser locally after trying stuff out I just forgot to update the regex on there, but thanks for the working one.

[2015-08-26 08:16] twitwi opened #194 "Showdown editor demo uses 'h3' as top-level headings."
In relation the feature from https://github.com/showdownjs/showdown/issues/69 (which is great), as a newcomer, I've been confused with the fact that the demo uses h3 for first level headings.

I don't know the project enough to know if this must be changed or not. The best would probably to show the option in the side panel of the demo.

[2015-08-26 08:18] phw commented on #182
I gave this a shot and created an extension to do just that: https://github.com/phw/showdown-htmlescape

The difficult part is to ignore all those parts that will do their own HTML escaping (code blocks and inline code). But so far it is working fine, even with code blocks inside block quotes.

[2015-08-26 11:57] tivie commented on #194
The demo Uses h3 for design purposes. Showdown uses h1 by default and you can chance that behaviour thoughts options. It's explained in the documentation.

[2015-08-26 12:04] twitwi commented on #194
Thanks for your answer. I had seen the option motivated by #69 (the option is really useful, h1 vs h3 actually mattered a lot in my use case).
I'll try to see if I can provide a pull request to update the demo (adding the option, but leaving it to 3 by default) to help first-time explorers like me not get confused (as the demo acts also as a documentation).
Feel free to close this issue as I'm not

[2015-08-26 12:29] tivie commented on #194
@twitwi Ah! I see. I think you're right, people might get confused. I will close this issue and open a new one in the demo.

[2015-08-26 12:29] #194 closed

[2015-08-28 13:34] alanguir opened #195 "Plans to support Inline Attribute Lists?"
My favorite feature from kramdown/jekyll is Inline Attribute lists, which look like this:

[code]

Spec here: http://kramdown.gettalong.org/syntax.html#inline-attribute-lists.

Has any work been done to support this kind of thing? I haven't found a single *.js implementation that brings this functionality over from the various ruby libraries that support it. I'm happy to lend a hand in making it h

[2015-08-29 03:17] tivie commented on #195
@alanguir Thanks for the suggestion. Showdown tries to keep faithful to the original spec. The new features and changes we introduced were always as "opt-in" and based on the discussions found at the "official" markdown mailing list.

However, showdown is extensible exactly with the purpose of letting people create and use non standard features. It shouldn't be very hard to implement *inline attri

[2015-08-29 03:29] tivie commented on #182
@phw Thanks for your contribution. As far as I can tell, it's working fine.

We're also planning on adding a new event system to showdown that might actually help you simplify your code.

I will let you know when it's ready to release.

[2015-08-29 10:54] JanLoebel commented on #159
Hi there, I started to write a TOC-Extension by myself. Have a look at: https://github.com/JanLoebel/showdown-toc   I ussed @tivie 's showdown-footnote-repository as a template. It's my first extension, if you have any problems or ideas please let me know :)

[2015-08-31 21:00] twitwi opened #196 "Wrongly successively encoding entities in code blocks in nested lists"
When using an entity (or a character that gets encoded as an entity) in a code block in a list, showdown seems to escape the entity multiple times, depending on the depth in the list.

Here is an example, where all & (using explicitly &amp; does not change the problem) inside code blocks get escaped too much:
http://showdownjs.github.io/demo/#/%23%23%20Test%20pre%20in%20a%20list%0A-%20%26%0A-%20%6

[2015-08-31 21:05] twitwi commented on #196
NB: markdown seems to require escaping "&" and "<", but, as mentioned above, the problem is also visible with characters that lead to non-mandatory entity encoding such as ">" as in this example:
http://showdownjs.github.io/demo/#/%23%23%20Test%20pre%20in%20a%20list%0A-%20%3E%0A-%20%60%3E%60%0A%20%20%20%20-%20%3E%0A%20%20%20%20-%20%60%3E%60%0A%20%20%20%20%20%20%20%20-%20%3E%0A%20%20%20%20%20%20%20

[2015-09-01 12:18] twitwi opened #198 "literalMidWordUnderscores changes behavior of '*'"
This is probably not a first priority issue.

Considering the following markdown: `pointer *ptr *thing​` (I'm not sure how it should be interpreted).
Toggling the `literalMidWordUnderscores` options unexpectedly changes the rendering:
- without the option, stars remain un-transformed
- with the option, stars are considered as emphasis

[2015-09-02 13:35] alanguir commented on #195
I'll give it a go - can you point me towards a reasonable starting point in the codebase? I haven't had time yet to get familiar with how showdown is structured.

[2015-09-02 15:48] be-next-hotdog opened #199 "What kind of carriage return Showdown wait for ?"
As title, showdown will translate '//' (2 slash) or '  ' (2 spaces) to HTML ?

[2015-09-02 19:12] tivie commented on #195
you can use this extension as boilterplate: https://github.com/showdownjs/youtube-extension/blob/master/src/showdown-youtube.js

[2015-09-02 19:22] tivie commented on #199
@be-next-hotdog Hi. What do you mean?

Carriage return?!? If you're referring to newlines, showdown is line ending agnostic: `\r\n`(win), `\r`(old mac) and `\n`(*nix) will be converted into `\n` in the output.

Forward slashes don't have any special meaning in Markdown or HTML. The space rule follows the HTML spec: multiple spaces are collapsed into one.

[2015-09-02 19:22] tivie commented on #198
@twitwi thanks. I will look into this as soon as possible.

[2015-09-04 18:17] twitwi commented on #198
No problem, it's more something I stumbled upon in a very special situation.
Actually #196 happens more often in my use cases (but might be trickier, from my first experiments with showdownjs source code)

[2015-09-05 18:29] tivie commented on #196
This bug was introduced recently. I'm still trying to figure out which commit introduced this.
I expect to be able to fix this in 3 weeks or so.

[2015-09-16 11:38] nikz opened #200 "Should sourceMappingURL comments be included in bower distributions?"
Hi Team!

First off, thanks for Showdown - it's a really useful package. :+1:

I'm having a bit of trouble when integrating the bower package into my workflow though, specifically with the `sourceMappingURL` comments (see [my comment on the ember-cli-uglify](https://github.com/ember-cli/ember-cli-uglify/issues/4#issuecomment-140712858) package for more detail).

In short, the bower package doesn't

[2015-09-17 10:19] yaniswang opened #201 "html code"
test
	===============

	<input type="radio" name="a"value="AA" />

The html code is not in code area, you can test here: http://showdownjs.github.io/demo/.

[2015-09-20 19:48] tivie commented on #201
Hi @yaniswang. I cannot seem to reproduce the issue you getting.

See [demo here][1]

[1]: http://showdownjs.github.io/demo/#/test%0A%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%0A%0A%20%20%20%20%3Cinput%20type%3D%22radio%22%20name%3D%22a%22value%3D%22AA%22%20%2F%3E

[2015-09-20 19:49] tivie commented on #199
No activity for more than 6 days, closing.

[2015-09-20 19:49] #199 closed

[2015-09-20 19:57] tivie commented on #200
Hey @nikz. Thank you for your kind words.

It seems the best way is not to include a src map for the concatenated files in the bower package (it does not make much sense since it points to non existent files).

The regular package would keep them.

[2015-09-21 01:14] yaniswang commented on #201
http://showdownjs.github.io/demo/#/test%0A%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%0A%0A%3Cinput%20type%3D%22radio%22%20name%3D%22a%22value%3D%22AA%22%20%2F%3E

[2015-09-21 10:03] nikz commented on #200
@tivie: OK, great - would you like me to make the grunt modifications to exclude the map files? I can potentially handle that. :)

[2015-09-21 10:50] tivie commented on #200
@nikz No grunt modifications needed. The only thing needed is to make bower ignore map files. Although I'm kind of conflicted about it since map files are extremely useful for debugging.

[2015-09-21 10:54] tivie commented on #201
@yaniswang That's the correct behavior. To put the HTML code inside a code block you need to either:

 - Indent it 4 spaces
 - wrap it in ` ` `
 - use the triple ` ` ` (GitHub style code blocks)

See [example here][1]

[1]: http://showdownjs.github.io/demo/#/Style%201%0A%0A%20%20%20%20%3Cinput%20type%3D%22radio%22%20name%3D%22a%22value%3D%22AA%22%20%2F%3E%0A%0AStyle%202%0A%0A%60%3Cinput%20type%3D%

[2015-09-21 12:05] nikz commented on #200
@tivie definitely agree, but without the files in `src` they aren't so useful? So we should either exclude the map files or include the source files?

[2015-09-22 00:48] yaniswang commented on #201
Thanks, i know.

[2015-09-22 00:48] #201 closed

[2015-10-04 03:36] PaulBGD opened #203 "Code blocks that parse the language correctly on GitHub don't parse with Showdown"
Basically all of the code blocks that use 3 ` don't set the language correctly For example, this works here:
[code]
But if I inputted the markdown into showdown it would set the language as `javascript

[2015-10-04 03:37] PaulBGD commented on #203
Oh, and after the code block it leaves a single
`

[2015-10-04 04:11] tivie commented on #203
Hey @PaulBGD

I could not reproduce the issue. Take a look at [the demo](http://showdownjs.github.io/demo/#/%60%60%60javascript%0Afoo.bar()%3B%0A%60%60%60). It seems to parse correctly.

Are you using any extensions?

[2015-10-04 04:12] tivie commented on #189
No follow up in over 2 months, closing this up

[2015-10-04 04:12] #189 closed

[2015-10-04 04:13] #195 closed

[2015-10-04 16:47] PaulBGD commented on #203
I apologize, turns out I accidentally used 4 `

[2015-10-04 16:47] #203 closed

[2015-10-06 00:56] allanhortle opened #204 "Certain links with @ symbols and periods break simplifiedAutoLink"
type | link | status
------------ | ------------- | ---------
characters between @ and . | http://website.com/img@x2.jpg | broken
no @|http://website.com/img-x2.jpg|ok
@ but no .|http://website.com/img@x2|ok
@ and . adjacent|http://website.com/img@.jpg|ok

Example: http://showdownjs.github.io/demo/#/http%3A%2F%2Fwebsite.com%2Fimg%40x2.jpg%0A%0Ahttp%3A%2F%2Fwebsite.com%2Fimg-x2.jpg%0A%0Ahttp%3A%2F%

[2015-10-07 03:12] tivie commented on #204
Thanks @allanhortle.

The problem here is the logic used to detect email addresses.

According to [rfc6531](https://tools.ietf.org/html/rfc6531), in the local part of the email (the part that comes before the @ symbol) the following characters are allowed:
 - Uppercase and lowercase English letters (a-z, A-Z)
 - Digits 0 to 9
 - Characters ! # $ % & ' * + - / = ? ^ _ ` { | } ~
 - Character . (dot,

[2015-10-07 03:52] #204 closed

[2015-10-07 03:52] tivie commented on #204
should be fixed now

[2015-10-07 10:36] yaniswang opened #205 "Code render error"
http://showdownjs.github.io/demo/

[code]
Place the code in the demo, you will see a tailer in end.

[2015-10-07 10:37] yaniswang commented on #205
![image](https://cloud.githubusercontent.com/assets/970390/10335328/77438ddc-6d22-11e5-93b9-e6536be6d7dd.png)

[2015-10-07 14:29] ifeltsweet opened #206 "How to treat single line breaks as <br>?"
How to treat single line breaks as `<br>`, like what GitHub does? I realise this should be an extension, does any one have any pointers though?

[2015-10-08 09:14] tivie commented on #206
To create a simple line break, add 3 spaces to the end of line.

[2015-10-08 09:18] tivie commented on #205
Fenced code blocks (aka github code blocks) should use **3 accents** and not 4 accents like you're using in the exemple

[2015-10-08 09:20] tivie commented on #205
[code]

[2015-10-08 09:21] tivie commented on #205
Github ignores the extra tick but it is not the correct syntax

[2015-10-08 09:21] #205 closed

[2015-10-08 09:24] tivie commented on #205
See example here http://showdownjs.github.io/demo/#/Test%0A%0A%60%60%60html%0A%3Cscript%20type%3D%22text%2Fjavascript%22%20src%3D%22htmlhint.js%22%3E%3C%2Fscript%3E%0A%3Cscript%20type%3D%22text%2Fjavascript%22%3E%0A%20%20%20%20var%20messages%20%3D%20HTMLHint.verify('%3Cul%3E%3Cli%3E%3C%2Ful%3E'%2C%20%7B'tag-pair'%3A%20true%7D)%3B%0A%3C%2Fscript%3E%0A%60%60%60

[2015-10-08 09:25] yaniswang commented on #205
Tks

[2015-10-08 09:29] ifeltsweet commented on #206
Isn't it 2 spaces?

I know that in standard markdown you place two spaces at the end of the line to create a line break. Normal line breaks are not respected unless you have two consecutive line breaks which create a paragraph. That's how markdown works.

However, GitHub flavored markdown for example respects single line breaks. How to do the same in showdown?

To illustrate:

[code]

in standard

[2015-10-08 16:38] ifeltsweet commented on #164
I'm actually for both options, but if have to choose only one then probably the first.

[2015-10-09 08:55] ifeltsweet commented on #206
Okay, so after googling around, I found that Ghost does something like this already. They use a very simplified regex that doesn't work in all cases but the most trivial ones:

[code]

I played around with it and extended it to support more cases and be a little bit more robust (maybe?):

[code]

I've tested it with a number of documents and seems to work fine, but it still needs more testing, so

[2015-10-09 11:14] tivie commented on #206
Hey

Thanks for your contrubution.

You can also use a otp extension. Since newlines are kept in the final document, you can iterarate over all paragraphs and replace \n with br tags

Enviado do meu iPhone

No dia 09/10/2015, às 09:55, ifeltsweet <notifications@github.com> escreveu:

[2015-10-10 09:41] cungen opened #207 "How to set Options in Meteor"

[2015-10-10 18:37] tivie commented on #207
You should ask this question in the [meteor repo](https://github.com/meteor/meteor/issues)

[2015-10-10 18:37] #207 closed

[2015-10-11 12:50] krime opened #208 "Github Style Codeblock do not work quite well with List"
I try to use github code block within sublist, which driven the next sublist item get into ghCodeblocks instantly. And the list order missed.
Here is my samples:
http://showdownjs.github.io/demo/#/%23%20Header1%0A%0A%23%23%20Header2.2%0A%0A1.%20List1%0A%0A2.%20List2%0A%20%20%20*%20Sublist1%0A%20%20%20%20%20%20%201.%20Subsublist1%0A%20%20%20%20%20%20%202.%20Subsublist2%0A%20%20%20*%20Sublist2%0A%20

[2015-10-14 13:19] jahvi opened #209 "Is there a way to ignore certain tags?"
Is there a white to whitelist / blacklist certain tags? For example, if I only want to parse bold and italic tags and ignore the rest.

[2015-10-14 20:22] tivie commented on #209
There's no way to cherry pick syntax elements you want to parse, but you might be able to achieve this with a lang extension.

[2015-10-14 22:15] gpapp opened #210 "Invalid HTML produced by simple lists"
Resulting HTML tags are not properly nested when using convert.

[code]

    * a
    * b
     * c
     * d

    * e

translates to

[code]

which is improperly nested.

This seems to be a marginal case, as it requires two levels of lists, and at least one double line spacing.

I couldn't pinpoint the cases it gives an error, but my best guess, the issue lies within the way the newlines are convert

[2015-10-15 04:59] tivie commented on #210
I couldn't reproduce the exact output you're getting (neither with showdown latest or v 1.2.3)

[See demo here][1]

[1]: http://localhost:63342/showdown-editor/index.html#/*%20a%0A*%20b%0A%20*%20c%0A%20*%20d%0A%0A*%20e

[2015-10-15 13:09] kossnocorp opened #211 "simplifiedAutoLink + dashes in the URL = unexpected behaviour"
For such code:

[code]

I'm getting:

[code]

The problem here is that `ISO_week_date` was converted to `ISO<em>week</em>date`.

I tried it on the `HEAD` and on the `v1.2.3`

[2015-10-18 18:40] tivie commented on #211
@kossnocorp In order to prevent underscores to be treated as emphasis tags in mid of words you can do one of 2 things:

 1. Escape the underscores with `\`:

[code]

 2. Use the option `literalMidWordUnderscores`:

[code]

You can use the [demo][1] to test

[1]: http://showdownjs.github.io/demo/#/blah%20blah%20https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FISO%5C_week%5C_date%20balh%20blah%20blah

[2015-10-18 18:40] #211 closed

[2015-10-18 19:02] tivie commented on #210
To further add to the answer:

Since v 1.2, showdown applies the following rules to lists:

 1. A list is **single paragraph** if it has only **1 line-break separating items**:

[code]
   becomes
[code]

 2. A list becomes **multi paragraph if ANY of its items is separated by 2 line-breaks**:

[code]
   becomes
[code]

This new ruleset is based on the comments of Markdown's author John Gruber in t

[2015-10-18 19:02] #210 closed

[2015-10-18 19:53] tivie commented on #196
I've tracked the problem to version 1.2.1

[2015-10-19 01:04] tivie commented on #196
This should be fixed in the latest develop

[2015-10-19 02:22] #196 closed

[2015-10-19 02:22] #198 closed

[2015-10-19 02:39] tivie commented on #208
You need to indent elements accordingly in order for them to "belong" to the previous sublist item.

[Here's your corrected sample][1]

[1]: http://showdownjs.github.io/demo/#/%23%20Header1%0A%0A%23%23%20Header2.2%0A%0A1.%20List1%0A%0A2.%20List2%0A%20%20%20*%20Sublist1%0A%20%20%20%20%20%20%201.%20Subsublist1%0A%20%20%20%20%20%20%202.%20Subsublist2%0A%20%20%20*%20Sublist2%0A%20%20%20%20%20%20%201.%

[2015-10-19 02:44] #208 closed

[2015-10-19 02:44] #209 closed

[2015-10-19 02:44] #71 closed

[2015-10-19 03:26] kossnocorp commented on #211
@tivie thanks, `literalMidWordUnderscores` works for me!

[2015-10-19 06:00] twitwi commented on #196
Great, thanks. (not tested yet)

[2015-10-22 04:11] adam-beck commented on #167
@tivie Couldn't this be solved by bundling showdown? Then it shouldn't matter what version showdown uses vs the user. I agree, however, that only necessary functions should be pulled from the library.

[2015-10-25 09:28] jack-nie opened #212 "ReferenceError: getDefaultOpts is not defined"
I'm using 1.3.0 with webpack.
I try `npm install --save-dev showndown`, and require it in my source file.
All the builds are fine,but when i run my app, It says `ReferenceError: getDefaultOpts is not defined`,
what's wrong?

[2015-10-25 14:01] tivie commented on #212
I believe `npm install --save-dev showndown` is a typo since the library is called showdown

Regardless, more information is  needed. What file is "required" by webpack? Are you using the dist files or src files?

Can you post the relevant part of your code?

[2015-10-26 07:54] Kreozot opened #213 "Version 1.3.0 not working (globals.converter._dispatch is not a function)"
Actually there is simple makeHtml call which breaks after 1.3.0 release.

You can view an example in mdoc:
Original issue: https://github.com/millermedeiros/mdoc/issues/50
Using showdown: https://github.com/millermedeiros/mdoc/blob/master/src/js/parser.js

[2015-10-26 13:42] Kreozot commented on #213
Sorry, it was my fault: I'm not bind makeHtml method properly.

[2015-10-26 13:42] #213 closed

[2015-10-26 16:05] jack-nie commented on #212
var Showdown = require("showdown");

var converter = new Showdown.converter();
var Comment = React.createClass({
  render: function() {
    var rawMarkup = converter.makeHtml(this.props.children.toString());
    return (
      <div className="comment">
        <h2 className="commentAuthor">
          {this.props.author}
        </h2>
        <span dangerouslySetInnerHTML={{__html: rawMarkup}} />

[2015-10-26 16:18] jack-nie commented on #212
it's my spelling mistake..sorry!

[2015-10-26 16:18] #212 closed

[2015-10-26 17:05] tivie commented on #213
@Kreozot  no prob, glad I could help

[2015-10-26 17:29] tivie commented on #200
@nikz If we remove the map files from bower but keep the sourcemap comments, would it fix the problem?

[2015-10-28 10:32] nikz commented on #200
@tivie I'm not 100% sure - I've just been removing the comments :) Let me give that a go today and get back to you?

[2015-10-28 15:31] nikz commented on #200
@tivie I just end up getting a message like the following:

```Warning: ignoring input sourcemap for bower_components/showdown/dist/showdown.js because ENOENT, no such file or directory '/Users/nik/Projects/gelato/ember/tmp/concat_with_maps-input_base_path-WJdhcaUE.tmp/0/bower_components/showdown/dist/showdown.js.map```

But everything works! :+1:

[2015-10-29 09:40] hbCyber opened #214 "Escaped markdown characters seem to break parsing"
I'm using Showdown with the strikethrough option enabled.

Example input that works:
`Your friend ~~[**test**](www.google.com)~~ (~~[*@test*](www.google.com)~~) updated his/her description.`

Correctly results in:
`<p>Your friend <del><a href="www.google.com"><strong>test</strong></a></del> (<del><a href="www.google.com"><em>@test</em></a></del>) updated his/her description.</p>`

However, this in

[2015-10-30 00:40] tivie commented on #214
@hbCyber thanks. Bug confirmed!

http://showdownjs.github.io/demo/#/Your%20friend%20~~%5B**tes%5C*t**%5D(www.google.com)~~%20(~~%5B*%40test*%5D(www.google.com)~~)%20updated%20his%2Fher%20description

[2015-10-30 01:02] tivie commented on #214
Should be fixed in 5669317

[2015-10-30 01:08] hbCyber commented on #214
Thanks! Well done!

[2015-10-31 21:42] vithar opened #215 "Support for code highlighting in githubCodeBlocks"
Do you plan to add support for syntax highlighting in githubCodeBlocks?

Something like this:

if (options.highlight) {
  codeblock = options.highlight(codeblock, language) || codeblock;
}

I can send PR.

[2015-11-01 01:00] tivie commented on #215
Check https://github.com/showdownjs/prettify-extension

[2015-11-01 07:03] vithar commented on #215
I seen this. But I think highlighting hook in githubCodeBlocks.js (where we know exact code block and language) will be more effective than using regexp to process ALL output.

[2015-11-01 07:19] vithar commented on #215
prettify works only in browser, but I want to highlight code in NodeJS.

[2015-11-04 12:28] treuter opened #216 "XSS possible"
It is possible to read the user's cookie, e.g.:
[code]

Maybe there should be a configuration option to prevent creating javascript code.

[2015-11-04 13:42] tivie commented on #216
Showdown doesn't sanitize the input. This is by design since markdown relies on it to allow certain features to be correctly parsed into HTML. This, however, means XSS injection is quite possible.

Further reference:
 + #57
 + #70
 + #71
 + #182
 + [Markdown's XSS Vulnerability (and how to mitigate it)](https://github.com/showdownjs/showdown/wiki/Markdown's-XSS-Vulnerability-(and-how-to-mitigate-i

[2015-11-04 13:56] treuter commented on #216
Thanks for the information!

[2015-11-04 13:56] #216 closed

[2015-11-09 02:00] iamchairs opened #217 "iframe Support"
Please add iframe support for markdown. Not to add new tags to support iframes (though that would work) but not to exclude iframes. Currently have a mix of markdown and iframes I need to support.

[2015-11-09 03:56] tivie commented on #217
showdown does not exclude iframes. You can see an example here:

http://showdownjs.github.io/demo/#/%3Ciframe%20src%3D%22http%3A%2F%2Fwww.w3schools.com%22%3E

What version are you using?

[2015-11-09 04:07] iamchairs commented on #217
Using BTF-Markdown for angular which it looks like it's using version `~0.3.1` of showdown.

[2015-11-09 13:41] tivie commented on #217
That version is very outdated (current version is 1.3.*)
You should ask BTF to use a more updated version.

Alternatively, you might want to check ng-showdown (https://github.com/showdownjs/ng-showdown) the official angular integration for showdown.

[2015-11-09 13:42] #217 closed

[2015-11-11 15:27] heejongahn opened #218 "How can I prevent my converter from escaping HTML?"
I guess showdown automatically escape HTML special characters, such as '<' or '&', in my codeblock. And I don't want that.

So it goes like this. When I write something like this in markdown:
<img width="677" alt="ss 2015-11-11 at 11 40 41 pm" src="https://cloud.githubusercontent.com/assets/6768840/11093520/0752fd42-88ce-11e5-831d-cfcda9d19e77.png">

It turns out to something like this(see those &

[2015-11-11 15:55] tivie commented on #218
Hey @heejongahn. Thank you!

Regarding your issue, Maybe I'm miss-understanding you but I couldn't reproduce it. I've tested with every release from 1.0.0 onward and could not reproduce the behavior you describe.

You can test it yourself with [our demo](http://showdownjs.github.io/demo/#/foo%0A%0A%60%60%60%0A%23!%2Fbin%2Fsh%0Aunset%20GIT_DIR%20%26%26%20cd%20%2Fhome%2Fme%2Fmyproject%20%26%26%20git

[2015-11-11 16:08] heejongahn commented on #218
@tivie Well that's strange..

I'm using showdown 1.2.3, serving my service using flask(python3) + uWSGI + nginx at Ubuntu 14.04. Mayyyybe it could be because of Jinja2 template engine, but the thing is when I delete markdown rendering code below:

[code]

the page has no problem showing '&' and '>' and all that stuff. So I guessed it has something to do with showdown prolly.. but as you said so, I

[2015-11-11 17:12] heejongahn commented on #218
I also checked that variable `html ` up there itself is containing `&amp;` using `console.log`. Still have no idea.

... and after I wrote that sentence above, I checked the value of `md` with console, and found out it's escaped too. So it was jQuery, not showdown or jinja2... Stupid of me. I'll close this issue :( Thanks anyway!

[2015-11-11 17:12] #218 closed

[2015-11-12 02:22] tivie commented on #218
no problem glad you worked it out

[2015-11-19 16:29] rodrigogoncalves commented on #178
@tivie, you say "according to spec". Which spec is that? Is that [CommonMark's](http://spec.commonmark.org/)?

[2015-11-20 12:59] ferllings opened #219 "undefined converter in extensions"
Hello,

I'm trying to use the table extension, with showdown, in my grunt file:

[code]

The extension is run, but it fails when a table is found:
[code]

After some debug it looks like converter value passed to showdown-table is undefined:
[code]

Am I using the extension correctly?

Thanks for your help

[2015-11-20 14:36] ferllings opened #220 "HTML broke markdown parsing"
Hello,

I ran into an issue when having multiple HTML raw code inside a long Markdown document.

I reduced the code into the minimal reproductible sample:

[code]

It produce
[code]
The Title 2 is not converted to html

You can try it on [http://showdownjs.github.io/demo/](http://showdownjs.github.io/demo/#/Title%201%0A-------%0A%0A%3Cdiv%3E%3C%2Fdiv%3E%0A%0A%23%20Title%202%0A%0A%3Cdiv%3E%0A%3C%2F

[2015-11-20 16:18] tivie commented on #219
What version of showdown are you using?

[2015-11-20 16:56] ferllings commented on #219
1.3.0, but this appends as well with my own plugin, the converter is undefined

[2015-11-20 17:30] tivie commented on #219
The extension loading mechanism was changed in 1.2.0.
The converter object is no longer available locally. It is now injected directly into the filter function

Example:
[code]

[2015-11-20 17:47] ferllings commented on #219
Thanks, I'll give it a try

[2015-11-20 18:00] tivie commented on #219
Keep in mind, however, that extensions are attached to the converter object at initialization which means, all extensions activated in a showdown.converter options instance share the same converter object inside filter function, as you can see in the following test ([fiddle here](https://jsfiddle.net/j3pg0sqk/))

[code]

Output:

[2015-11-23 10:17] ferllings commented on #219
It's working, Thanks a lot

[2015-11-23 10:17] #219 closed

[2015-11-26 21:33] tivie commented on #178
@rodrigogoncalves No, the original official spec, https://daringfireball.net/projects/markdown/

[2015-12-01 10:03] ferllings commented on #220
Hello,

Any confirmation about this bug?

[2015-12-01 11:17] tivie commented on #220
Yes, I'm currently looking into it, I expect to have a fix soon.

[2015-12-01 11:18] ferllings commented on #220
Thanks a lot!

[2015-12-04 21:26] charliesneath opened #221 "Lines indented > 10 spaces are being wrapped in <pre><code> tags"
Confirming this is the expected behavior.

I have a block of code that contains Markdown and HTML. Some of the HTML is indented > 5 times (10 spaced, 2 spaces per indent).

When rendering, all of the code past this indentation level are wrapped in `<pre><code>`.

If this is the expected behavior, how can I prevent Showdown from converting this HTML?

[2015-12-04 21:34] charliesneath commented on #221
Turns out this was an issue with unmatched closing tags.

[2015-12-04 21:34] #221 closed

[2015-12-07 18:25] SekibOmazic opened #222 "Add option to add `target="_blank"` when parsing links"
Would be nice to have an option that adds `target="_blank"` on parsed links.

[2015-12-10 17:04] jmuharsky opened #223 "Dedicated Page for Showdown Syntax"
While the demo site is handy, the inclusion of installation instructions makes it a less than optimal choice for linking "Here's how Showdown Markdown works".  Recommend taking the formatting-related content from the demo page, and making a wiki page out of it.

I've already done this on my project site (which implements Showdown), and you're welcome to copy it.

https://github.com/GoogleCloudPlat

[2015-12-19 23:09] approxit opened #224 "Extensions "DEPRECATION WARNING" but no documentation"
I just realized that I'm getting `DEPRECATION WARNING: some_extension is an old extension that uses a deprecated loading method.Please inform the developer that the extension should be updated!` with my extensions, but there is no documentation how to make it in "new way".

[2015-12-26 02:18] tivie commented on #224
You're absolutely right. I will update the documentation as soon as possible.

[2015-12-29 07:00] imaayush opened #226 "Inline markdown table is not working"
Normal  markdown  is working fine but inline markdown table is not working.
![screenshot from 2015-12-29 12 26 08](https://cloud.githubusercontent.com/assets/8547523/12030643/e76fac12-ae27-11e5-966f-3a2e19b70111.png)

[2015-12-29 07:42] tivie commented on #226
The lines must start and end with `|`

http://showdownjs.github.io/demo/#/%7C%20Markdown%7Cless%7CPreety%7C%0A%7C---%7C---%7C---%7C%0A%7C*still*%7Crenders%7C**nicely**%7C%0A%7C1%7C2%7C3%7C

[2015-12-29 08:10] tivie commented on #226
https://github.com/showdownjs/showdown/wiki/Showdown's-Markdown-syntax

[2016-01-01 21:10] tivie commented on #223
I've updated showdown's syntax wiki page.

https://github.com/showdownjs/showdown/wiki/Showdown's-Markdown-syntax

If you feel there's something missing please let me know

[2016-01-01 21:15] tivie commented on #222
Hey @SekibOmazic.

This "option" makes more sense as an extension rather than something embeded on core.

[2016-01-01 21:15] #222 closed

[2016-01-01 21:17] #214 closed

[2016-01-01 21:18] tivie commented on #215
@vithar What do you mean by highlighting code in NodeJS?!

[2016-01-01 23:36] tivie commented on #220
Ok, this issue took a lot longer than expected. I had to make quite some changes in hashHTMLBlock in order to make it work smarter.

This issue should be fixed now in commit 2746949.

@ferllings Do you mind testing it a bit further?

[2016-01-01 23:36] #159 closed

[2016-01-01 23:37] #223 closed

[2016-01-01 23:37] #226 closed

[2016-01-01 23:37] #215 closed

[2016-01-02 01:17] tivie commented on #178
@SyntaxRules Added the feature just now to develop branch. Mind taking a look?

[2016-01-03 13:03] matatk commented on #220
Of course we should leave it to @ferllings, as the OP, to confirm, but I thought I'd say that this fix does seem to work very well from my perspective; thank you!

[2016-01-03 13:15] matatk commented on #215
I was hoping that it might be possible to have a showdown extension that puts all the required highlighting markup into the HTML, so only CSS, and no JavaScript, is required on the browser to render the highlighted code.

That's [how it works with Pandoc](http://pandoc.org/README.html#syntax-highlighting): when Pandoc converts the Markdown to HTML, it adds in the required HTML code for each token

[2016-01-03 13:51] vithar commented on #215
Thanks, this is exactly that I mean.

[2016-01-03 17:56] tivie commented on #220
thanks @matatk

[2016-01-03 18:03] tivie commented on #215
I'm not sure what kind of HTML wizardry pandoc does. However, Showdown already adds classes to code blocks pertaining the language used.

for instance, this block...

[code]

gets converted into the following HTML:

[code]

[2016-01-03 22:54] matatk commented on #215
With the same input, Pandoc uses a syntax-highlighting library to produce the following HTML. The HTML is marked up in the way that [Pygments](http://pygments.org) would do so (but as Pandoc is written in Haskell, as opposed to Python, it uses an equivalent Haskell library to do this).

[code]

Here's some of the CSS that goes with this HTML to actually perform the highlighting.  Any CSS that assu

[2016-01-04 01:19] tivie commented on #215
@matatk Ah I see. Well, this is the kind of job for an extension.

[2016-01-04 01:20] #178 closed

[2016-01-04 01:20] #220 closed

[2016-01-04 01:25] tivie commented on #200
OK, so after some thought I think it might be better to include the src files in bower distributions. It increases download size a bit but, apart from that, I don't see any inconveniente.

@nikz What do you think?!

[2016-01-04 05:11] vithar commented on #215
@matatk you can use `marked`

[2016-01-04 09:33] nikz commented on #200
@tivie I think that would be fine, so long as they aren't getting built for distribution or anything like that. Means that the source map URLs have something to point to!

[2016-01-04 13:45] tivie commented on #215
Making an extension for code highlighting would be kind of easy with the new showdown's extended RegExp engine.

example using https://highlightjs.org/ library:
[code]

[2016-01-14 08:12] marklma opened #227 "Footnotes Support"
such as

## Footnotes

Footnote 1 link[^first].

Footnote 2 link[^second].

Inline footnote^[Text of inline footnote] definition.

Duplicated footnote reference[^second].

[^first]: Footnote **can have markup**
[^second]: Footnote text.

[2016-01-14 13:40] tivie commented on #227
https://github.com/tivie/showdown-footnotes

[2016-01-17 00:21] #227 closed

[2016-01-24 20:52] DoumanAsh opened #229 "HTML code tag on the same line with starting code block breaks everything"
Noticed strange behavior of parser while testing with this [fixture](https://github.com/sindresorhus/generate-github-markdown-css/blob/master/fixture.md)

Try to parse text under **Code and Syntax Highlighting** section
http://i.imgur.com/7JWC4Cv.png

It happens when you have starting ```<code>``` and ``` on the same line.
If you separate it by newline everything will be fine

I saved this bad sec

[2016-01-24 20:59] tivie commented on #229
Thanks @DoumanAsh

You are correct, the bug is verified. (can see in [demo page here][aa])

I will post a fix as soon as possible.

[aa]: http://showdownjs.github.io/demo/#/%3Cpre%20lang%3D%22no-highlight%22%3E%3Ccode%3E%0A%0A%60%60%60javascript%0Avar%20s%20%3D%20%22JavaScript%20syntax%20highlighting%22%3B%0Aalert(s)%3B%0A%60%60%60%0A%0A%60%60%60python%0As%20%3D%20%22Python%20syntax%20highlighting

[2016-01-24 21:03] DoumanAsh commented on #229
Glad to hear. I'm planning to replace ```marked``` in my simple client-side parser with ```Snowdown``` :)

[2016-01-24 21:08] DoumanAsh opened #230 "Incorrect parsing of GFM tables with missing leading/trailing pipes"
If you have missing leading or/and trailing ```|``` then table will not be rendered correctly

Example
[code]

[2016-01-24 21:12] DoumanAsh commented on #229
Please note that markdown code symbols are missing inside of html ```<code>```.
Please check after fix that it will be corrected too :)

[2016-01-24 22:14] tivie commented on #229
@DoumanAsh

What do you mean?

[2016-01-24 22:19] DoumanAsh commented on #229
See this [example](http://showdownjs.github.io/demo/#/%3Cpre%20lang%3D%22no-highlight%22%3E%3Ccode%3E%0A%0A%60%60%60javascript%0Avar%20s%20%3D%20%22JavaScript%20syntax%20highlighting%22%3B%0Aalert(s)%3B%0A%60%60%60%0A%0A%60%60%60python%0As%20%3D%20%22Python%20syntax%20highlighting%22%0Aprint%20s%0A%60%60%60%0A%0A%60%60%60%0ANo%20language%20indicated%2C%20so%20no%20syntax%20highlighting.%0ABut%20le

[2016-01-24 22:24] tivie commented on #229
@DoumanAsh I thought that was the issue you were talking about.

[2016-01-24 22:30] DoumanAsh commented on #229
Sorry, there are actually two issues :)
[First](http://showdownjs.github.io/demo/#/%3Cpre%20lang%3D%22no-highlight%22%3E%3Ccode%3E%60%60%60javascript%0Avar%20s%20%3D%20%22JavaScript%20syntax%20highlighting%22%3B%0Aalert(s)%3B%0A%60%60%60%0A%0A%60%60%60python%0As%20%3D%20%22Python%20syntax%20highlighting%22%0Aprint%20s%0A%60%60%60%0A%0A%60%60%60%0ANo%20language%20indicated%2C%20so%20no%20syntax%20h

[2016-01-24 23:15] tivie commented on #229
Both are consequence of the same issue that is the fact that GitHub code blocks insede HTML Code blocks get parsed by markdown engine while they shouldn't.

[2016-01-25 01:08] tivie commented on #229
Should be fixed now

[2016-01-25 02:37] tivie opened #231 "Weird behavior with 2 consecutive html code blocks split by a text paragraph"
The following markdown

    <pre><code>```javascript
    var s
[code]
    </code></pre>

produces the following weird markup:

    <pre><code>```javascript
        var s
[code]
    </code>&lt;/pre&gt;</code></pre></div>

[2016-01-25 02:38] tivie commented on #230
https://github.com/showdownjs/showdown/issues/226

[2016-01-25 03:05] tivie commented on #231
See #229

[2016-01-25 04:57] Gacnt opened #232 "Block quotes not working as intended"
I'm trying to use block quotes, I have

\> Blah blah

and then my JS to parse it is like:
[code]

then it comes out like

\<p> > blah blah \</p>

Everything else works though, like images, headers, so on  so forth but block quotes don't seem to work

[2016-01-25 05:00] tivie commented on #232
Couldn't [reproduce in the demo page][1]

can you provide a demo with the issue?

[1]:http://showdownjs.github.io/demo/#/%3E%20Blah%20blah

[2016-01-25 05:01] Gacnt commented on #232
I'm saving plain textarea into the database as markdown, then loading it through the database and escaping the markdown to the page using jade template, and using that jquery loop to parse any divs labeled markdown. I see it does work on that demo, I'm not sure why it's not working on my end, feel free to close till I can reproduce it, but I'm not sure if I will be able to.

[2016-01-25 05:03] tivie commented on #232
@Gacnt Check on each step if changes are being made to the text.

Maybe the > character is being escaped prior to markdown rendering

[2016-01-25 05:04] #232 closed

[2016-01-25 05:18] DoumanAsh commented on #230
Oh sorry. It would be good to have that as feature, but if it is not possible since it conflicts with Snowdown specs then please feel free to close issue

[2016-01-25 05:23] DoumanAsh commented on #229
Looks great! Thanks

[2016-01-25 05:26] tivie commented on #230
You should be able to use GH spec with tables now

[2016-01-25 05:30] DoumanAsh commented on #230
Great! Will it be part of default behavior or it is intended as optional feature?

[2016-01-25 05:31] tivie commented on #230
default

[2016-01-25 05:31] tivie commented on #226
Should be fixed in f58f014

[2016-01-25 06:17] Gacnt opened #233 "Is there a makeMarkdown function?"
I'm trying to make a quote function to quote a forum post, which is in markup, but when clicking the quote button I'd like to the the markup and convert that forum post into Markdown and put it into the textarea, is there such a function?

[2016-01-25 08:52] tivie commented on #233
No

[2016-01-25 10:21] DoumanAsh commented on #229
Should we close issue then?

[2016-01-25 11:06] brightbits opened #234 "nofollow?"
How would I add a rel="nofollow" to a link in showdown?

[2016-01-25 11:29] tivie commented on #234
Either use an HTML a tag

    <a href="example.com" rel="no-follow">foo</a>

Or create an extension

[2016-01-30 06:29] DoumanAsh commented on #229
Since it is fixed on develop branch i'm closing issue. No sense in leaving it opened?

[2016-01-30 06:29] #229 closed

[2016-01-30 06:29] #230 closed

[2016-01-30 06:29] DoumanAsh commented on #230
Thanks

[2016-01-31 19:41] contradictioned opened #235 "List items followed by a code block are wrapped inside <p>-tags"
This markdown code

    * one
    * two

        $ test

gets this HTML code:

    <ul>
      <li><p>one</p></li>
      <li><p>two</p>
      <p>$ test</p></li>
    </ul>

I think, these items should not be wrapped inside <p>-tags.

See [demo](http://showdownjs.github.io/demo/#/%23%20bug%20example%0A%0A*%20one%0A*%20two%0A%0AIf%20the%20list%20is%20terminated%20by%20a%20paragraph%2C%20there%20is%20n

[2016-01-31 23:05] contradictioned commented on #235
As it turns out, this is intended behavior, as described in the [Markdown syntax](https://daringfireball.net/projects/markdown/syntax#list).

If you want to put a code block directly after a comment, see for example [this](http://meta.stackexchange.com/questions/34292/code-blocks-after-a-list-but-not-within-a-list-in-markdown-is-it-possible) working trick:

    * one
    * two

        $> code

So

[2016-01-31 23:05] #235 closed

[2016-02-01 03:44] #231 closed

[2016-02-01 10:00] rubenmamo opened #236 "Issue with < and > when attached to a word"
Using the below text in markdown

[code]

shows

[code]

Shouldn't the < and > be converted to &lt; and &gt; ?

This only happens when the < is attached to the word, so

[code]

shows as

[code]

[2016-02-01 21:00] tivie commented on #236
The following cases behave as expected:

### Case 1

[code]
converts to:
[code]

### Case 2

[code]
converts to:
[code]

------------

The bug lies in in case 3:

### Case 3

[code]
should be converted to:
[code]
instead it's being converted into:
[code]

[2016-02-01 21:02] #234 closed

[2016-02-02 09:57] rubenmamo commented on #236
Shouldn't it however only change ```<test>``` to an HTML element only if it is a valid HTML element?

[2016-02-02 14:36] tivie commented on #236
Html, namely xhtml, allows custom html tags.
Em 02/02/2016 09:57, "Ruben Mamo" <notifications@github.com> escreveu:

[2016-02-02 14:44] whisper-bye opened #237 "How to load showdown with webpack?"
I packed my code by using webpack,
I just import showdown into my project, but this error occur,

env: OS X safari 9.0.3 (11601.4.4)
last version of webpack and showdown on npm

in safari's console
Failed to load resource: webpack:///~/showdown/dist/showdown.js.map

entry.jsx
[code]

[2016-02-02 16:42] tivie commented on #237
Can you provide more info on the error?
I don't think it's showdown's fault since the npm release of showdown includes all source and all map files

[2016-02-06 12:48] jaesung2061 opened #238 "Is it possible to pick and choose only certain things to markdown?"
I would like for the converter to only parse bold, italics and strike-through tags. Is it possible to do this?

[2016-02-06 13:40] tivie commented on #238
Out of the box no.

But you can try to hack around the subparsers with extensions.

1. Create a lang extension that calls the following subparsers:
    - italicsAndBold
    - strikethrough
2. Store the parsed text in a var and return empty string from that extension
3. Create an otp ext that returns the stored text

## Fiddle

https://jsfiddle.net/tivie/053f2j7z/

## Extension code

[code]

[2016-02-06 13:40] #238 closed

[2016-02-06 13:41] tivie commented on #237
No activity for 4 days, closing for now

[2016-02-06 13:41] #237 closed

[2016-02-10 07:55] anion155 opened #239 "QML compatible version"
Qml [is](http://doc.qt.io/qt-5/qmlreference.html)
[Here](doc.qt.io/qt-5/qtqml-javascript-resources.html) is example of how you can import js library in to qml

[2016-02-10 21:28] tivie commented on #239
The second link is invalid

[2016-02-13 08:49] anion155 commented on #239
Sorry, I was in rush )). Here it is https://doc.qt.io/qt-5/qtqml-javascript-resources.html

[2016-02-13 17:07] tivie commented on #239
Thanks @anion155. However I'm not sure how this applies to showdown.
Can you elaborate further? What exactly is your request? How would it apply to showdown? And how it would benefit showdown users?

[2016-02-17 02:00] justathoughtor2 commented on #134
I know it's significantly in the future from when this Enhancement issue was filed, but I did manage to get  a MathJax extension working with the showdown-ghost fork. It should work with regular showdown with a few modifications. I saved it as a simple Gist called mathjax.js, available (along with its README.md) at https://gist.github.com/justathoughtor2/7dbbecc912dfe4d3580b

Let me know what you

[2016-02-17 17:19] Kriegslustig opened #240 "Add showdown-footnotes to the extension index"
[`showdown-footnotes`](https://github.com/Kriegslustig/showdown-footnotes) is a showdown extension I wrote that adds footnote support. The implemented syntax is the most popular i could find<sup>0</sup>. Could you **add the extension to the wiki**?

<sup>0</sup>: The syntax is the same as in a [PHP-Markdown extension](http://rephrase.net/box/word/footnotes/syntax/), a [python markdown extension](h

[2016-02-17 18:46] pdeschen commented on #240
thanks @Kriegslustig . Done. Can you also add a link from your readme to this repo?

[2016-02-17 18:46] #240 closed

[2016-02-17 18:55] Kriegslustig commented on #240
Thanks @pdeschen, I added the link :)

[2016-02-20 08:51] joemunriq opened #241 "How to ignore/disable certain tags?"
Is there a simple way to ignore/disable certain tags from being rendered (e.g. headings)?

For example, have plain text `# something` pass through the original content, rather than generating `<h1>something</h1>`.

Thanks!

[2016-02-20 17:35] tivie commented on #134
It should work with vanilla showdown, albeit with an extension deprecation warning,

[2016-02-20 17:51] tivie commented on #241
Depends on your definition of simple.

You would have to create a lang extension that escapes `#` characters. See [fiddle][1]

[code]

[1]: https://jsfiddle.net/tivie/ws1c6v92/

[2016-02-22 06:55] joemunriq commented on #241
Thanks for the quick response!

Wouldn't it be more efficient if there was a way to disable the parser?  Any chance you think it would make sense to add this functionality as options?  (e.g. taking in a list of enabled or disabled elements)

(Reason I'm proposing this is because I would only need a very small subset of the features. My concern is that it would be more bug-prone to have to write a

[2016-02-22 15:27] tivie commented on #241
The parsers depend on one another and the inorder they're called so, at the moment, it's not possible to cherry pick.

[2016-02-22 22:27] joemunriq commented on #241
Thanks for the info

[2016-02-22 22:27] #241 closed

[2016-02-22 22:28] joemunriq commented on #241
Ah, totally missed #238.  (Sorry for the dupe question.)

[2016-02-24 15:43] socrates58 opened #242 "Unable to get tables rendered"
I built the node.js web page as in the tutorial, and my script.js looks like:
[code]
when I input text like:

[code]
my table doesn't get rendered, I just get text out. The options appear correct in the console.
Any ideas what I'm doing wrong?

[2016-02-24 16:05] tivie commented on #242
What tutorial are you referring to?

Anyways, it's working fine with me. Check the [fiddle](https://jsfiddle.net/tivie/cocoso7y/)

[2016-02-25 13:39] socrates58 commented on #242
Estevão, thanks for the quick response. I downloaded the tutorial from the wiki, and the table gets rendered, though the header line isn't colored and there're a few other quibbles. I seem to be having version issues, with different behaviors from the CDN. We can close this.
Thanks again for the excellent response.

[2016-02-25 13:39] #242 closed

[2016-03-06 22:14] handonam opened #243 "TypeError: text.replace is not a function"
I'm getting this error using this package (https://github.com/vpegado/angular-markdown-filter) that requires showdown.js.  I end up getting the "text.replace is not a function".  It occurs on this line:
https://github.com/showdownjs/showdown/blob/master/src/converter.js#L253

I'm wondering if it would be wise to cast this as a String() object to make this work again?

[code]

[2016-03-06 22:19] handonam commented on #243
Ah, i spoke too soon.  My angular filter was outputting an object instead of a string.  So, this may not be necessary after all :). Carry on!

[2016-03-06 22:19] #243 closed

[2016-03-07 00:46] tivie commented on #239
Closing as there is no activity in 22 days

[2016-03-07 00:46] #239 closed

[2016-03-07 00:49] tivie commented on #236
Update: I'm still working on this bug as it's proving a little more difficult to tackle as first expected.

For now, a workaround is to add a space after <`

[code]

[2016-03-07 07:56] rubenmamo commented on #236
thanks for the update

[2016-03-08 04:18] sculley4 opened #244 "Showdown CLI Not Working in OS X or Ubuntu"
On OS X 10.10.5, Node v4.2.4, npm v2.14.12, after installing showdown globally, running showdown -h returns:
[code]
On Ubuntu 15.10, Node v4.2.4, npm v2.14.12, after installing showdown globally, running showdown -h returns:
[code]
showdown -h works properly on Windows 10, Node v4.2.4 and v5.7.1. Quick google,  it may be related to [windows line endings](https://github.com/npm/npm/issues/2097).

H

[2016-03-09 14:22] JonathanHayward opened #245 "Can't load converter that will makeHTML()"
In my source, I have a slightly old version of Showdown:

    <script src="//cdnjs.cloudflare.com/ajax/libs/showdown/1.0.2/showdown.js"></script>

In my code I attempt to call:

                var preprocess = function(raw)
                    {
                    if (!raw)
                        {
                        return '';
                        }
                    var workbench =

[2016-03-09 19:36] tivie commented on #245
## Short version

You miss typed the function's name. It's `converter.makeHtml`

## A bit longer version

You're using an outdated version of showdown. You should be using the latest:

[code]

Secondly, you don't really need to encode html entities, since showdown does that for you.

Check a [working fiddle here](https://jsfiddle.net/tivie/na3yfg2g/)

[2016-03-09 19:36] #245 closed

[2016-03-09 19:45] tivie commented on #244
This issue is, in fact, related to npm packaging system that does not convert Windows Line Ending `\r\n` in *nix line endings `\n`.

The git version is working properly.

I'm going to introduce a new step in the packaging to change crlf with lf only.

The next version of showdown's npm package should be fixed.

[2016-03-10 05:12] sculley4 commented on #244
Thanks very much. Should I close this or you do that?

[2016-03-10 19:15] tivie commented on #244
Do not close the issue.
This will be closed automatically when I push the update that fixes it.

[2016-03-19 11:08] qyvlik opened #246 "Use showdown.js in QML meet some problem"
Hi!

[QML](http://doc.qt.io/qt-5/qmlreference.html) is declaration language that support EMCAScript(version 5.0).

So QML can use some JavaScript Lab, look [here](https://doc.qt.io/qt-5/qtqml-javascript-resources.html) to show how to use.

follow is my code to use `showdown.js` in qml

In QML file:

[code]

In `showdown.js`, I make a change such as follow:

[code]

But, I meet some problem that so

[2016-03-19 18:14] reisraff opened #247 "Way to add target in links"
I took a look in the web and I found something about.

Okay, we can add the pure HTML inside the markdown, but would me amazing, and better a way to do it easily like:

[code]

[2016-03-20 14:52] tivie commented on #247
https://github.com/showdownjs/showdown/issues/222

[2016-03-26 16:06] arpanchaudhury opened #249 "Anchor tags always open in same tab"
I want all anchor tags in the parsed markdown to open in a new tab window. I changed showdown.js
file line no **1134** to add ```target='_blank'```. I want to pass one more optional parameter while parsing the markdown to get target attribute of a link. Is it a good idea? If yes, I can add a PR to this.

[2016-03-26 16:09] arpanchaudhury commented on #249
Closing the issue. Duplicate of #222

[2016-03-26 16:09] #249 closed

[2016-04-17 17:07] ErisDS commented on #224
Just an FYI here - I would also really appreciate some info about what's changing and how to use it! 😁

[2016-04-17 20:38] tivie commented on #224
My fault. [I've updated the wiki to reflect the new extension loading mechanism.](https://github.com/showdownjs/showdown/wiki/Extensions/)

Regardless, is some boilerplate code for extensions, with conditional loading and showdown's new proper loading mechanism.

[code]

[2016-04-20 10:43] khahux opened #250 "makeHtml table Converted into <p></p>"
$scope.markdownText
`| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| **col 3 is**  | right-aligned | $1600 |
| col 2 is      | *centered*    |   $12 |
| zebra stripes | ~~are neat~~  |    $1 |
| zebra stripes | ~~are neat~~  |    $1 |
| zebra stripes | ~~are neat~~  |    $1 |`

$converter.makeHtml($scope.markdownText);
`<p>| Tables        | Are           | Coo

[2016-04-20 22:23] tivie commented on #250
Hi

Did you activate table support in the options, [as stated in the documentation?](https://github.com/showdownjs/showdown/blob/master/README.md#valid-options)

[2016-05-01 18:48] ishankhare07 opened #252 "Extend showdown to allow embedding selected scripts"
I need to enable this for my own blog project, particularly for embedding code samples from

1. gist.github.com
2. repl.it

Both of the above support only `scripts` for the embedding feature, I would like to know how I must extend the current codebase to allow embedding scripts, which i can then limit to only the above mentioned domain named (probably using regexes etc.)

[2016-05-01 21:19] tivie commented on #252
Showdown allows for any html tag to be embedded. This includes `<script>` tags. [see demo][1]

In order to limit the scripts to specific domains, (or any kind of other filter), you need to create an output extension that checks for script tags.

[1]: http://showdownjs.github.io/demo/#/bla%0A%0A%3Cscript%3E%0Aalert('foo');%0A%3C/script%3E%0A%0Abar

[2016-05-01 21:19] tivie commented on #250
Closing as no update for 8 days

[2016-05-01 21:19] #250 closed

[2016-05-02 17:21] ishankhare07 commented on #252
@tivie the demo is an inline script, whereas the services which I mentioned use external scripts like in case of gist.github.com:
[code]

I tried this with the demo -> [here](http://showdownjs.github.io/demo/#/%23%20A%20github%20gist%0A%0A%3Cscript%20src%3D%22https%3A%2F%2Fgist.github.com%2Fishankhare07%2Ffb586cf159e5c4d18c2d.js%22%3E%3C%2Fscript%3E%0A%0Anot%20visible)

[2016-05-02 21:47] tivie commented on #252
Ah, but that is not showdown's fault but rather the browser's.

[innerHTML does not allow execution at runtime of inserted scripts][1]. That is to mitigate XSS attacks.

[1]: https://developer.mozilla.org/en-US/docs/Web/API/Element/innerHTML#Security_considerations

[2016-05-03 01:12] tivie commented on #252
If you wish the script to be embeded and ran, showdown's output but be reloeaded as part of the DOM, at page loading. This will probably require a trip to the server

[2016-05-09 13:22] fkorak opened #253 "NuGet Package"
Hi,

would there be any possibility of getting an official current NuGet-Package? There is one already existing, but it's on version 0.9 and was last updated 2012-10-01. I ask because I'm currently going through the tutorial for ReactJS.NET and one of the steps is installing showdown. Alternatively how does this project feel about unofficial packages submitted by volunteers?

Thank you very much f

[2016-05-09 14:11] tivie commented on #253
hi @fkorak
I don't have anything against having unofficial (or semi-official) showdown nuget packages. In fact, I think it might be the best option.

Are you voluntering? =P

[2016-05-11 15:01] rabeesh commented on #247
+1 for this feature.

[2016-05-11 15:04] rabeesh commented on #222
It will be nice to support feature to convert

[code]

[2016-05-13 02:43] thisconnect opened #254 "link text with underscore is rendered as <em>"
with showdown 1.3.0 and 77007181d8ebe5aac89236b8b8dd0c6fd4ae0250 on Node.js v5.9.1

[code]
Note: the link text is an url containing underscores

expected:
[code]

actual:
[code]
Note: \<em>and\</em> in the link text

The Showdown live editor does not have this problem
http://showdownjs.github.io/demo/#/%5Bsnook.ca%2Farchives%2Fhtml_and_css%2Fspecificity-graphs%5D(http%3A%2F%2Fsnook.ca%2Farchives%2

[2016-05-13 12:10] tivie commented on #254
To prevent underscores to be parsed as `<em>` in the middle of words you need to activate the option `literalMidWordUnderscores`.

[code]

[2016-05-13 15:19] #224 closed

[2016-05-14 15:53] thisconnect commented on #254
It's not just about underscores, I would like to know if the same problem comes up with `*` or `-`  with default config?
Or what kind of config it needs to fix this.

The showdown demo does not use the default config?

in http://showdownjs.github.io/demo/js/editor.js
[code]

Other markdown implementation appear to have the literalMidWordUnderscores behavior set by default.

[2016-05-14 18:25] tivie commented on #254
If you click on menu (top left corner), you can see the configuration used and enable/disable features

[2016-05-14 19:12] tivie commented on #252
@ishankhare07 Closing as there is no update.

Check http://stackoverflow.com/questions/2592092/executing-script-elements-inserted-with-innerhtml

[2016-05-14 19:13] #252 closed

[2016-05-14 21:32] thisconnect commented on #254
thanks for clarification

Sorry, you are right. I mistakenly thought dash (`-`) was used as strikethrough, but that is jira syntax.

My only concern is about unwanted formatting in "link text" and different output compared to other libs e.g. Github MD (marked?).

You are right, the link text in my example (containing the url with underscores), could just be escaped.

[2016-05-14 21:32] #254 closed

[2016-05-16 01:59] ciel opened #255 "parsing markdown inside of an extension"
I've written a very barebones extension for `showdownjs` like this;

[code]
And it works beautifully - but the text that gets put between the two `<div>` layers is not parsed. It comes out verbatim as it is typed. Is there a way to render it?

If I register it as an `output` and provide a function ,it gets parsed;
[code]

[2016-05-16 12:29] tivie commented on #255
Since showdown version 1.4.0, to enable parsing inside an html block, you can use the attribute markdown (or data-markdown).

[code]

[2016-05-16 12:31] ciel commented on #255
This __does__ work, but the output gets wrapped in `<p></p>`. Is there any way around that? It throws off the formatting considerably.

[code]

[2016-05-16 12:39] ciel commented on #255
Really loving showdown, by the way. It's beautifully designed, and so much easier than `marked` to use.

[2016-05-16 13:25] tivie commented on #255
@ciel Thanks!

You mean, the text inside the div gets wrapped inside a paragraph right? Something like this:

[code]

[2016-05-16 13:36] ciel commented on #255
Yes, that is correct. It would be ideal if I could get it to render without wrapping it in the paragraph tags.

From: Estevão Soares dos Santos [mailto:notifications@github.com]
Sent: Monday, May 16, 2016 8:26 AM
To: showdownjs/showdown <showdown@noreply.github.com>
Cc: Ciel <stacey.cielia.lynn@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [showdownjs/showdown] parsing markdown ins

[2016-05-16 14:07] tivie commented on #255
That is a pickle indeed. Since the default markdown behavior is to treat blocks of text as paragraphs, that can't easily be changed.
However, I can think of two ways around it:

- Leave the `<p>` tags and format them with css. Example:

[code]

- Use an output extension to remove the `<p>` tags inside `<div class="notice">`

[code]

The first approach only "styles" the issue. However, it is semant

[2016-05-16 14:08] ciel commented on #255
Thanks. Both of these seem reasonable. I’ll likely go with the first one, and just style them inside the corresponding output.

From: Estevão Soares dos Santos [mailto:notifications@github.com]
Sent: Monday, May 16, 2016 9:07 AM
To: showdownjs/showdown <showdown@noreply.github.com>
Cc: Ciel <stacey.cielia.lynn@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [showdownjs/showdown] pars

[2016-05-17 17:28] shaddockh opened #256 "Table rendering no longer working with 1.4.x"
Table rendering is no longer working with the latest version.  With the test code:

[code]

The latest version ```showdown@^1.4.0``` generates:
[code]

The prior version```showdown@~1.3.0``` generates it correctly as:
[code]

[2016-05-17 20:24] tivie commented on #256
It seems the new tables regexes make table header separators require 3 dashes instead of 2.

This should work properly:

[code]

This behavior was not intended, and I will release a fix as soon as possible.

[2016-05-17 20:32] #256 closed

[2016-05-17 20:32] tivie commented on #256
Issue should be fixed now

[2016-05-17 20:38] tivie commented on #256
New release for this fix https://github.com/showdownjs/showdown/releases/tag/1.4.1

[2016-05-17 20:58] shaddockh commented on #256
Confirmed.  Thanks!

[2016-05-22 06:33] wifiextender commented on #215
@tivie Thank you Estevão !

[2016-05-28 13:58] ayyash opened #258 "import showdown is not supported like require(showdown)"
I am using meteor, I added showdown from npm, then added this line at the top:
`import {showdown} from 'showdown';`

Now that brings back "undefined" value for `showdown`, but when I tried

`var showdown  = require('showdown'); `

It worked. Am I missing anything or is showdown not quite an exported module?

[2016-05-28 14:33] #255 closed

[2016-05-28 17:34] wifiextender commented on #258
https://github.com/meteor/meteor/blob/devel/History.md#api-changes

https://github.com/meteor/meteor/blob/devel/packages/showdown/package.js

[2016-05-28 18:52] tivie commented on #258
The issue is with meteor and not showdown.
Meteor uses it's own fork of showdown, based on an old deprecated version of our library.

[2016-05-28 18:52] #258 closed

[2016-06-02 20:29] jhicken opened #259 "issues with es6 template strings"
Imagine a function like this...

[code]

this is the output
[code]

It means i always have to untab my markdown.

I understand why but it seams ungood.

[2016-06-03 01:40] tivie commented on #259
I see your point. However, I can't think of any sane way showdown core can ignore tabs smartly without breaking the tab code blocks.

Do you have any suggestions?

An extension, for your specific case, might do the trick.

Or even some kind of pre parser function

[2016-06-03 02:09] tivie commented on #259
To fix your specific issue, however, you have several options:

### Move es6 template strings to a new line

You can fix the issue by moving the es6 opening mark to a new line that respects your indentation:

[code]

### Use a wrapper function

you can also use a wrapper function, although I think is really an overkill and potentially breaks tab code blocks:

[code]

### Make the above t function

[2016-06-03 16:30] jhicken commented on #259
Hey thanks for the response.

So If i use option 1 (Move es6 template strings to a new line)

This is what i get. The first line is converted and nothing else.

[code]

the alternative is
[code]
Which is also not super great. (this is what im currently doing)

Using something like option 2 up above would work but would need some major testing to make sure you don't remove white space from unintend

[2016-06-06 06:26] IonicaBizau opened #260 "How to save/get metadata?"
I'm looking how to save/read metadata like below:

[code]

[2016-06-06 07:39] timaschew commented on #260
This is not part of a markdown parser usually.
You need a parse step before you run your markdown parser.
Here is module to fetch these data and split them into properties and the markdown body

https://github.com/jxson/front-matter

[2016-06-06 22:45] tivie commented on #260
the bit at the top is YAML so you need a yaml parser

[2016-06-06 23:25] tivie commented on #259
Yeah, but how would we accomplish that? Right trimming would not work as it would remove important right whitespaces.
Passing the indentation level would be kind of useless since it would tighly couple the text with the code style, which is crazy!!

The only way I can think of is guessing by the the "indentation" level of the first line of the text, but that would also break under some circumstanc

[2016-06-06 23:39] tivie commented on #244
@sculley4 The issue should be fixed now. Do you mind checking?

[2016-06-07 00:27] tivie commented on #259
Check 261f127 and see if it fixes your problem,

Its on it's own branch since I would like further testing before introducing this feature on core.
This type of "smart" indentation fixing is problematic and I don't think we can create a system that reliably can identify indented text.

[2016-06-07 03:39] ye-will opened #261 "Reference style image after inline style image doesn't work correctely"
failed:

    ![sd-inline](https://raw.githubusercontent.com/showdownjs/logo/master/dist/logo.readme.png) ![sd-ref][sd-logo]

ok:

    ![sd-ref][sd-logo] ![sd-inline](https://raw.githubusercontent.com/showdownjs/logo/master/dist/logo.readme.png)

[2016-06-07 15:24] IonicaBizau commented on #260
@timaschew @tivie Thanks! I built [`mdify`](https://github.com/IonicaBizau/mdify) which uses `js-yaml` to parse the YAML stuff and `showdown` to htmlify the markdown code. 😁

[2016-06-08 08:03] pradeepgaba opened #262 "Restrict only certain formatting only with showdown.js Markdown expression library"
I am using showdown.js that can be downloaded from https://github.com/showdownjs/showdown/

and the question is i am trying to allow only certain formating? E.g. that only bold formattings are allowed, the rest is not converted and is formating discarded for example

if I am writing the text which is a Markdown Expression bellow

`"Text attributes _italic_, *italic*, __bold__, **bold**, `monospace

[2016-06-08 16:17] tivie commented on #261
@ye-will should be fixed now in 73206b0, develop branch

[2016-06-10 15:52] jahtalab opened #263 "Is it possible to get jsonML out of this?"

[2016-06-10 16:40] tivie commented on #263
@jahtalab more information needed please

[2016-06-10 16:42] tivie commented on #262
Showdown depends on parser order to function properly.

It is possible to use the parsers individually, but there is no garantee they will work as inteded.

[2016-06-11 08:20] jahtalab commented on #263
@tivie , I need to parse the markdown to some sort of tree to extract extra information about it.
[markdown-js](https://github.com/evilstreak/markdown-js) does this by parsing into jsonML.

[2016-06-12 01:12] ye-will commented on #261
@tivie nice work.

[2016-06-12 01:12] #261 closed

[2016-06-12 01:57] kevinsimper commented on #244
still not working :(

[2016-06-12 13:33] Sleashe opened #264 "Multiple Extensions Concurrency"
Hello Guys,

We discovered Showdown a few days ago and it's awesome. We decided to write our own extensions to add some nice features but we're experiencing a few problems, let me explain :
We created two extensions :
- One for parsing a special block surrounded by `TIPS...   some-text  ...TIPS` which gives `<div class="tips-class"><div class="tips-content">some-text</div></div>`
- One for convert

[2016-06-13 12:48] tivie commented on #264
@Sleashe thank you. I'm really glad you like showdown.

# TL;DR;

 1. Your underline regex is too broad and captures lots of stuff ([see fiddle here][1])
 2. Change your underline regex to `/(?:\s|^)(\-)(?=\S)([\s\S]+?\S)\1/gm` and it should fix your problem. (see fiddle here)
 3. To make it more robust I would make the underline rule use two dashes insetad of one: `--underlined word--`; regex ->

[2016-06-13 13:22] Sleashe commented on #264
@tivie You're excellent ! Thanks a lot for taking time to answer. Your explanation is perfect. I know I was doing wrong things with regexp, but I thought Showdown was able to recognize pure content (not html).

At the beginning we were overriding Showdown.js directly to add new subParsers, but we didn't understand everything.

What's the best option? Create new langs? or add subparsers directly ?

[2016-06-13 14:07] tivie commented on #264
Extension are enough for almost every scenario, so I would go with that.

[2016-06-13 19:26] Sleashe commented on #264
Thanks a lot @tivie, you're excellent, we'll try as you suggested.

[2016-06-14 09:12] rabeesh opened #265 "Line breaks between list not keeping"
The line space between two list not rendering as a two list.
[code]

Expected result , see this in http://dillinger.io/
[code]

But showdown giving me one single list, and li with contains < p > tag.

[2016-06-14 10:20] tivie commented on #265
This is one of the (not so) edge cases in which the original markdown spec is omissive. This means each implementation out there parses this specific case differently differently. [see comparison here ][1]

While showdown follows the original markdown spec as much as possible, dillinger seems to follow the Common mark spec (which is not markdown, but rather a variant!!!).

Regardless, internally w

[2016-06-14 10:20] tivie commented on #264
No problem. Closing the issue. If you need more help, feel free to ask

[2016-06-14 10:20] #264 closed

[2016-06-14 10:22] tivie commented on #259
@jhicken  Have you had time to check and test 261f127 ?

[2016-06-14 21:15] jhicken commented on #259
I have not.  Sorry been super busy.  I'll try and get to it tonight.  Ps thanks for working on this.

[2016-06-14 23:19] joemunriq opened #266 "Autolinking - URL surrounded by parentheses"
Input:
`(https://www.something.com/1234)`

Results in:
`(<a href="https://www.something.com/1234)">https://www.something.com/1234)</a>`

Note that the trailing paren is included in the target URL.

[2016-06-15 14:16] wifiextender commented on #266
@joemunriq

Input:

[code]

Once parsed it becomes:

[code]

---

Input:

[code]

Once parsed it becomes:

[code]

[2016-06-15 14:24] wifiextender commented on #266
Input:

[code]

Once parsed it becomes:

[code]

---

Input:

[code]

Once parsed it becomes:

[code]

[2016-06-15 18:44] joemunriq commented on #266
@wifiextender  Thank you for the info... but I'm calling out one specific buggy behavior using Showdown's GFM auto-linking feature, which automatically creates a link when it identifies a URL (without using Markdown's link syntax).  If the URL is contained within parens (without spaces), it will include the closing paren as part of the anchor's HREF.

[2016-06-15 19:42] enajeeb commented on #244
I am getting the same error using OS X 10.11.5, node v5.11.1, npm 3.9.5

[2016-06-15 21:26] joemunriq commented on #266
It looks like GitHub and RedCarpet (the MD parser that GitHub uses) handles this case specifically.  It looks for enclosing parens:

https://github.com/vmg/redcarpet/blob/00d4e02a2cc3ada39c2547529b29fb2f871a83fb/ext/redcarpet/autolink.c

(Example: https://github.com/vmg/redcarpet/blob/00d4e02a2cc3ada39c2547529b29fb2f871a83fb/ext/redcarpet/autolink.c#L115)

Can we get these same rules applied to Sh

[2016-06-16 11:07] tivie commented on #244
For some reason, building in windows changes the line endings from `/n` to `/r/n`. While git compensates for that, npm does not.

I guess I need to create a VMachine with *nix and publish to npm from there.

The next npm release will have this fixed, I hope.

As a workaround, and until that, replacing line in the cli command should fix the issue.

[2016-06-16 11:22] tivie commented on #266
This is a tricky situation because parenthesis are allowed in urls and there can be situations where the rules used by RedCarpet will wrongly exclude the parentehsis from the url.

For instance:

The url is `http://www.example.com/a/link/that/ends/parenthesis)`

So this:

[code]

gets converted into this:

(http://www.example.com/a/link/that/ends/parenthesis) is a link with parentehsis)

[code]

w

[2016-06-16 11:25] tivie commented on #266
on the other hand, it's really easy to workaround this issue:

[code]

[2016-06-16 11:27] tivie commented on #266
Regardless, since we have a "GitHub flavored markdown", I will create an option that implements the rules of github, regarding parentehsis.

This option will be disabled by default, and you would need to explicitely enable it.

[2016-06-16 15:22] enajeeb commented on #244
Converted line endings of /usr/local/lib/node_modules/showdown/bin/showdown.js to Unix and it works. Thanks for the tip.

[2016-06-17 14:08] jeffschwartz commented on #244
I'm running OS X and I can also confirm that changing line ending to lf in node_modules/bin/showdown works for me as well.

[2016-06-20 18:08] wifiextender opened #267 "DOS encoding confuses node"
Hello,

[code]

[2016-06-20 18:10] wifiextender commented on #267
If you write the very same code, but with utf or unix encoding, node executes the cli showdown flawlessly.

[2016-06-20 18:16] wifiextender commented on #267
Err, the encoding of this file in the repo here is utf, but the one installed via npm -g is DOS

[2016-06-21 00:26] tivie commented on #267
Duplicate. Check https://github.com/showdownjs/showdown/issues/244

[2016-06-21 00:26] #267 closed

[2016-06-21 00:43] #259 closed

[2016-06-21 01:24] tivie commented on #244
Ok, I've finally figure out what was happening. Git was globally configured as push:LF, pull: CRLF (as it should on windows environment). I was using my IDE to specifically auto convert CRLF to LF after a pull, since node works just as fine with LF in windows and that should solve the NPM problem.

However, IDE was ignoring what it considered "binary" files, while git wasn't.

**I've published 1.4

[2016-06-21 01:31] tivie commented on #263
@jahtalab Can you give a concrete example?

[2016-06-21 01:31] tivie commented on #262
No activity for 10 days, closing

[2016-06-21 01:31] #262 closed

[2016-06-21 01:35] #200 closed

[2016-06-21 01:35] tivie commented on #200
Should be fixed now.

[2016-06-21 01:38] tivie commented on #246
I've figure out the problem. Line endings were getting "altered" prior to npm release.

This should be fixed now.

[2016-06-21 01:38] #134 closed

[2016-06-21 01:42] tivie commented on #265
For instance, github does not separate lists like that:

[code]

1. a
1. b
1. c

1. d

[2016-06-21 02:07] qyvlik commented on #246
@tivie Thank for reply. That's nice.

[2016-06-21 02:46] tivie commented on #253
Bump

[2016-06-21 03:30] sculley4 commented on #244
Just tested briefly in OS X 10.10.5, and it is working. To verify I ran showdown -h and it shows the information properly. Thanks very much.

[2016-06-21 07:59] jahtalab commented on #263
@tivie ,
For example I want to extract meta data about the markdown, something like this

[code]

This meta data shouldn't be rendered (or it might) but I want to have the info when I parse the markdown, for instance to find all articles after some date.

[2016-06-21 09:20] bansalvks commented on #143
is it possible that we set the `height `only and the `width` will be auto calculated accordingly so that the image does not look awkward?

[2016-06-21 10:12] bansalvks commented on #247
is there any work around for now?

[2016-06-21 12:27] tivie commented on #263
I think your issue is related to this one https://github.com/showdownjs/showdown/issues/260

[2016-06-23 17:17] aaroncalderon opened #269 "[solved] electron load support/issue"
When using [electron](http://electron.atom.io/) with showdown, showdown is loaded with the [`CommonJS/nodeJS loader`](https://github.com/showdownjs/showdown/blob/master/src/loader.js#L3-L5), but I expect it to be loaded with [`Regular Browser loader`](https://github.com/showdownjs/showdown/blob/master/src/loader.js#L14-L17), so I can then use the [`angular-markdown-filter`](https://github.com/vpeg

[2016-06-24 09:58] tivie commented on #269
I will keep an eye on both issues

[2016-06-24 16:03] aaroncalderon commented on #269
Turns out that if I run create a window  with the `nodeIntegration: false` option, behaviour is as expected. However, I rely on the integration with node for other features, so I'm looking for any suggestions to overcome the issue.

[2016-06-24 18:01] aaroncalderon commented on #269
# Solution

I was able to use [`preload: 'absolute/path/to/preload.js'`](https://github.com/electron/electron/blob/master/docs/api/browser-window.md) (search for 'preload') with [`event-loaded`](https://github.com/electron/electron/blob/master/docs/api/process.md#event-loaded) to solve the issue.

[2016-06-27 15:37] butchmarshall opened #270 "IE8 is throwing "Expected ']' in regular expression" in subParsers/italicsAndBold.js"
IE8 is throwing "Expected ']' in regular expression" (both old and new expression - so this commit did not introduce the issue)

![](https://cloud.githubusercontent.com/assets/339763/15874084/98d12550-2ccf-11e6-88b1-0c44c6f7f97f.png)

Discussion (and fix) with @tivie [here](https://github.com/showdownjs/showdown/commit/c9e85f129480bf48d9ae064d7d0b476c56452ad4#commitcomment-17785890)

[2016-06-27 15:48] butchmarshall commented on #270
Added [pull request](https://github.com/showdownjs/showdown/pull/271)

[2016-06-27 19:37] #270 closed

[2016-06-28 09:40] coiouhkc opened #272 "Support for lists (or html) in table cells"
Could you please add support for following syntax:
[code]
?
Doesn't seem to work in  [1.4.1]("https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.1/showdown.min.js)

[2016-06-28 09:51] coiouhkc commented on #272
Somehow it works on the demo page (http://showdownjs.github.io/demo/) but not when using following snippet
[code]

[2016-06-28 13:43] xserrat opened #273 "Support from HTML+Markdown to HTML"
Hi,

First of all, congratulations for this library, very useful. I have a question about support conversions from HTML mixed with Markdown to HTML.

If support exists, I found an issue when I try to put some words with bold, italian or header styles. But these words aren't converted to the corresponding tags in HTML when these words are between `<p></p>` tags.

I show you an example using your de

[2016-06-28 20:59] cmpilato opened #274 "Image size syntax documentation error"
The documentation at https://github.com/showdownjs/showdown/wiki/Showdown's-Markdown-syntax#image-dimensions lacks what I believe to be (per experimentation and a glance at the source code's regular expression) a required space between the image URL and the "=250x250" dimension.

[2016-06-29 22:37] tivie commented on #273
You need to add the property markdown to the tag In order to allow markdown parsing inside a specific html tag.

    <p markdown="1">this is **bold**</p>

[2016-06-30 07:36] xserrat commented on #273
Thank you very much @tivie ! I close this issue 👍

[2016-06-30 07:36] #273 closed

[2016-06-30 14:03] tivie commented on #274
@cmpilato You are right. Thank you.

Fixed the documentation

[2016-06-30 14:03] #274 closed

[2016-07-03 23:39] jyio opened #275 "`default` reserved in IE8 (IE11)"
Ahoy. I encountered the following error on IE11 emulating IE8:

    Expected identifier, string or number

... pointing to the options in `src/options.js`. Apparently, [default is a reserved word](https://msdn.microsoft.com/en-us/library/0779sbks(v=vs.94).aspx). Has this occurred to anyone else? Anyhow, this works for me:

[code]

[2016-07-04 01:17] tivie commented on #275
@jyio Thanks. I will have a look. Maybe change it to defaultValue. It's mostly used internally, so I doubt that change would affect anyone.

[2016-07-15 14:26] fkorak commented on #253
I finally got around to doing one. You can find it at [showdownjs nuget](https://www.nuget.org/packages/showdownjs/1.4.2), after NuGet indexing is done. I'll try keeping it updated in a timely manner (having set it up once, I'll probably just need to replace the js-files), I have a mail notification on the Changelog.md. Have a look on whether the copyright information is filled out correctly.

I r

[2016-07-20 09:42] libHive opened #276 "showdown freezes for specific input"
Hey

I got this when trying to parse this markdown -
[code]
(it's taken from https://github.com/okTurtles/dnschain/blob/master/README.md)

I'm not sure of there are any markdown errors here but showdown totally freezes and locks up the thread. Using this in nodejs means my process is effectively stuck and in the showdown demo page (browser) the thread/tab is also frozen.

[2016-07-20 17:03] tivie commented on #276
it also freezes in the demo.

[2016-07-20 17:06] tivie commented on #276
I will look into it as soon as possible

[2016-07-20 21:07] #276 closed

[2016-07-20 21:14] tivie commented on #276
Ok, after further inspection, it seems the problem lied with a regex lookahead that was taking too long to complete. The regex was modified and simplified and the issue seems fixed now.

[2016-07-20 21:27] tivie commented on #276
Issue is fixed, check [this link][demo]

[demo]: http://showdownjs.github.io/demo/#/%3C!--%20This%20extra%20line%20is%20necessary%20for%20table%20to%20render%20properly.%20--%3E%0A%7C%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%

[2016-07-20 21:27] tivie commented on #275
Should be fixed now

[2016-07-20 21:28] #275 closed

[2016-07-20 21:36] tivie commented on #272
I couldn't reproduce the issue you refer to. Both in demo and in this fiddle is working properly.

 - [demo][demo]
 - [fiddle][fiddle]

[demo]: http://showdownjs.github.io/demo/#/%7C%20%7C%20%7C%0A%7C---%7C---%7C%0A%7C%20Cell1%7C%20%3Cul%3E%3Cli%3Eitem%201%3C%2Fli%3E%3Cli%3Eitem%202%3C%2Fli%3E%3C%2Ful%3E%7C
[fiddle]: https://jsfiddle.net/3q1z52ns/

[2016-07-20 21:36] #272 closed

[2016-07-20 21:37] #263 closed

[2016-07-20 21:38] tivie commented on #253
@fkorak Thank you very much.

I will add a referecence to the NuGet package in the wiki and readme.md so people know about it.

[2016-07-21 00:27] tivie commented on #244
Since it's fixed, I'm closing the issue

[2016-07-21 00:27] #244 closed

[2016-07-21 00:27] tivie commented on #246
SInce it seems fixed, closing the issue

[2016-07-21 02:38] tivie commented on #247
Adding extra syntax to the link element is not a good idea as it diverts  from the markdown spec and breks compatibility.

However, there are 2 easy ways to add this to links:

### Using embeded html

[fiddle](https://jsfiddle.net/bqLbyoqy/1/)

[code]

### Create an extension

[fiddle](https://jsfiddle.net/y5vLjp1k/2/)

[code]

[2016-07-21 02:39] tivie commented on #222
Adding extra syntax to the link element is not a good idea as it diverts  from the markdown spec and breks compatibility.

However, there are 2 easy ways to add this to links:

### Using embeded html

[fiddle](https://jsfiddle.net/bqLbyoqy/1/)

[code]

### Create an extension

[fiddle](https://jsfiddle.net/y5vLjp1k/2/)

[code]

[2016-07-21 03:12] mazeappleton opened #278 "Editor ignores urls that start with double slash"
When you start image urls with double slash, editor ignores those urls and a preview image does not appear.

[code]

[2016-07-21 03:14] tivie commented on #278
@mazeappleton What do you mean by editor?

I couldn't reproduce your problem [in our editor](http://showdownjs.github.io/demo/#/!%5Bimg%5D(%2F%2Fplacekitten.com%2F300%2F200))

[2016-07-21 03:16] mazeappleton commented on #278
I'm using the editor ghost

[2016-07-21 03:17] tivie commented on #278
It must be a problem with ghost then. Try to ask in their issue tracker.

[2016-07-21 03:20] tivie commented on #278
https://github.com/TryGhost/Ghost/issues/5625

[2016-07-21 03:20] #278 closed

[2016-07-21 14:43] avnersorek commented on #276
Thanks !

[2016-07-21 21:36] #247 closed

[2016-08-10 09:51] nicolaiparlog opened #281 "Option to join lines in a paragraph"
We are using Showdown to transform Markdown to HTML, which is then used in WordPress. Unfortunately WordPress has the "feature" to automatically insert `<br>` after the end of a line (if another line follows).

This:

    Hi
    there

becomes:

    <p>Hi<br>
    there</p>

A `joinParagraphLines` flag would really help us out. Showdown would first apply its usual transformation and then (if the fl

[2016-08-10 10:11] tivie commented on #281
So if I understand you correctly, wordpress converts:

[code]

into

[code]

[2016-08-10 10:15] nicolaiparlog commented on #281
Yes, exactly.

My idea was to remove all line breaks that match this criteria:

* not preceded by a tag
* not followed by another line break

I'm currently trying (and failing as it looks like) to find a regex to express those conditions.

[2016-08-10 10:35] tivie commented on #281
Well, it's actually easy to fix the issue, without requiring any modification to showdown's source code.

Simply run a beautifier in showdown's output, for instance: https://github.com/beautify-web/js-beautify

Here's a [working fiddle example](https://jsfiddle.net/tivie/0wpqveyj/)

[2016-08-10 11:39] nicolaiparlog commented on #281
Thank you very much, that is indeed a good solution. :)

[2016-08-10 11:39] #281 closed

[2016-08-17 07:25] ufocoder opened #282 "Purify XSS"
Please recommend me any additional libraries for `showdown` to purify XSS from these code:
[code]

You can also try this code at your [demo website](http://showdownjs.github.io/demo/#/%5Bclick%20me%20pleeeassee%5D(javascript%3Aalert('I%5C've%20got%20your%20cookie%20'%20%2B%20document.cookie)))

[2016-08-17 08:23] ufocoder opened #283 "Critical XSS vulnerability"
There's a critical XSS vulnerability, just try to execute this code at your [demo website](http://showdownjs.github.io/demo/)

[code]

[2016-08-17 11:16] tivie commented on #283
Please check the documentation about this topic in the wiki
https://github.com/showdownjs/showdown/wiki/Markdown's-XSS-Vulnerability-(and-how-to-mitigate-it)

[2016-08-17 11:16] #283 closed

[2016-08-18 03:18] #282 closed

[2016-08-18 11:33] rubenmamo commented on #236
Do you have an update on this?

[2016-08-19 09:58] ynnoj opened #284 "simplifiedAutoLink does not match GFM style"
Using the `simplifiedAutoLink` option does __not__ return the expected GFM behaviour when parsing links _without_ a `http` prefix.

I've submitted a PR with a failing test that demonstrates this behaviour.

[2016-08-19 18:12] #284 closed

[2016-08-19 18:30] tivie commented on #236
Currently, I couldn't find a simple way of fixing this without rewriting the parsing engine. The problem is that the fix slows down the parsing engine too much, since it requires a bunch of lookaheads.

I can't give you a ETA on this, but for now the issue is in "pending" status.

[2016-08-20 21:08] tivie commented on #284
This should be fixed now um latest release

[2016-08-28 03:13] tcaer opened #286 "showdown is not defined"
In my external client script which handles the showdown processing, it says showdown not defined. I have tried different version of showdown.

[2016-08-28 18:01] tivie commented on #286
More information is needed. Please create a fiddle to exemplify the issue.

[2016-08-29 06:17] jianhaozh opened #287 "showdown.subParser['codeSpans'] 's param -> text is undefined"
In some occasion, maybe my markdown file has some unkown issue, for some reason, not to shown here, the function  showdown.subParser['codeSpans'] 's param -> text may have an undefined value passed into, I am still debugging.......

[2016-08-29 06:21] jianhaozh commented on #287
now , i am add the blow codes in the start of this function to avoid this issue happens again, here is the code:
text = text || "";

[2016-08-29 18:39] reversemerman opened #288 "Code blocks containing xml comments are not converted correctly when nested in list items"
Removing the commented out sections of the XML fixes the issue. These are rendered correctly on GitHub.

[2016-08-29 21:21] tivie commented on #288
Can you create a snippet showing the bug?

[2016-08-29 21:22] tivie commented on #287
Can you post an example with the issue? So we can verify and test this?

[2016-08-29 23:34] reversemerman commented on #288
OS: Ubuntu 16.04 LTS

`showdown makehtml -i input.txt -o output.txt --tables --ghCodeBlocks`

[input.txt](https://github.com/showdownjs/showdown/files/443654/input.txt)
[output.txt](https://github.com/showdownjs/showdown/files/443655/output.txt)

[2016-08-30 02:09] tivie commented on #288
Confirmed in the [online demo](http://showdownjs.github.io/demo/#/*%20list%20item%201%0A%0A%20%20%20%60%60%60%0A%20%20%20%3Cparent%3E%0A%20%20%20%3Cchild%3Echild1%3C%2Fchild%3E%0A%20%20%20%3C!--%20This%20is%20a%20comment%20--%3E%0A%20%20%20%3Cchild%3Echild2%3C%2Fchild%3E%0A%20%20%20%3C%2Fparent%3E%0A%20%20%20%60%60%60%0A%0A*%20list%20item%202).

I will look into this as soon as possible

[2016-08-30 05:08] tivie commented on #288
This should be fixed now.

[2016-08-30 05:25] #288 closed

[2016-09-12 15:45] DumboJetEngine opened #289 "The converter object is not passed into extensions"
I have created a plug-in and, based on some samples I saw on-line, I assumed that the converter object should be passed into the extension.
But this is not the case in the 1.4.3 release. Instead, the window object is passed inside, which makes no sense to me:

![image](https://cloud.githubusercontent.com/assets/8676903/18442241/b378b4b4-7918-11e6-923c-fde3ccc2e72c.png)

Isn't this a bug?

[2016-09-13 11:23] tivie commented on #289
I'm not quite sure what you mean but the converter is getting passed correctly to extensions.

[The documentation][1] clearly states that the "converter" object is passed as the second argument to "filter" type extensions.

You can see that behavior in [this fiddle][2]

[code]

[1]: https://github.com/showdownjs/showdown/wiki/extensions#filter-property
[2]: https://jsfiddle.net/tivie/tznuzdmt/

[2016-09-13 15:15] DumboJetEngine commented on #289
Hm... That seems like a different method of registering extensions than the one I use (and is better too).
Here is what I use (`table` is my extension):

[code]

I have checked the arguments list and there is only one (the window).
Maybe the extension registration method I use is obsolete?
I found it inside the source code of your repository and I assumed it was OK to use. :(

[2016-09-13 15:30] DumboJetEngine commented on #289
Oh...
Seems like I was using an old version. :(
I had downloaded the latest and though I was using it, but turns out I wasn't.
I was still referencing the older version.

So many changes in only a few months!?!? :o
Even the case in the `showdown` global variable has changed! ;O

[2016-09-13 17:09] DumboJetEngine commented on #289
OK.
I think I have figured things out now...
Sorry for the bugging.

[2016-09-13 17:09] #289 closed

[2016-09-14 15:50] msfragala opened #290 "Listener Extensions Bug"
I'm not sure on the status of listener extensions since the [Wiki](https://github.com/showdownjs/showdown/wiki/extensions#creating-showdown-extensions) indicates that they aren't an official feature yet. However, I noticed a probable bug in the [Converter source code](https://github.com/showdownjs/showdown/blob/master/src/converter.js#L129) where it registers listeners from extensions. It looks li

[2016-09-14 21:56] tivie commented on #290
You are correct, listeners are still very experimental, they don't even have proper testcases

[2016-09-28 20:49] IngenieroFiestero opened #291 "showdown is adding new break lines"
Example:
Markdown code:
[code]

Html result:
[code]

[2016-09-28 22:00] tivie commented on #291
What do you mean? More linebreaks in the html output?

[2016-09-28 22:03] tivie commented on #287
Closing as no update in 30 days

[2016-09-28 22:03] #287 closed

[2016-09-28 22:03] tivie commented on #286
Closing the issue as no update in 30 days

[2016-09-28 22:03] #286 closed

[2016-09-28 22:08] IngenieroFiestero commented on #291
In
[code]
Should be
[code]
And not
[code]
Showdown is adding a \\n after "h1" and after "p" and after "h3"

[2016-09-28 22:19] tivie commented on #291
Yes, this is used to speed up the parser engine (blocks are wrapped in double linebreaks).
Linebreaks in HTML code are ignored anyways.
Why is it an issue to have extra linebreaks in the output?

[2016-09-28 22:25] IngenieroFiestero commented on #291
Because i dont want to add more linebreaks. Im saving a text from a textarea in mongodb as a markdown and at the same time saving the HTML generated text, and i want to be precise,  I do not want to add anything extra.
I lost a good time thinking it might be, but apparently more markdown to html converters work the same way, I just want to know if there is any way to avoid such behavior.
Thanks

[2016-09-28 23:54] tivie commented on #291
should be fixed at f97e072, at least partially.
Lists still retain double linebreaks, but those are needed for quickness of the internal parser.
I'm working on a way to remove them without hindering performance

[2016-09-28 23:59] IngenieroFiestero commented on #291
Wow Thank you very much

[2016-09-29 00:14] tivie commented on #291
Ok, lists now should be fixed too.

[2016-09-29 00:17] IngenieroFiestero commented on #291
Okey it works fina.
If someone still wants to not let new lines between tags, all you have to do is delete more "\ n" the previous file. In my case following what has made tivie, I modified the dist/showdown.js file not to let "\n" between tags and so is less separately.
[code]

[2016-09-29 00:20] IngenieroFiestero commented on #291
Resol

[2016-09-29 00:20] #291 closed

[2016-10-03 10:20] IAmWaseem opened #292 "Images not displaying possibly because of URLs not being encoded"
Hi, consider the following markdown:
https://raw.githubusercontent.com/Adeel-Ali/Uber-API-JAVA/master/README.md

All the svg images render as links. The reason can be that these links does not have a .png / .svg extension at the end.
Please fix this. Thankyou

[2016-10-06 10:55] LeahPike opened #293 "Angular 2"
Is it possible to use this library within angular 2?

I'm having trouble importing it into my project and wondered if anyone had done it?

I've added the following line to my vendor.ts

.. and added an import line to my component where I'd like to use it

Which gives the following error.

We use webpack to bundle our files. Any input welcomed, thank you.

[2016-10-06 17:36] Awk34 commented on #293
@LeahPike are you sure you installed it?

[2016-10-07 08:27] LeahPike commented on #293
@Awk34 I can see the showdown folder within my node_modules folder and I've checked in the generated vendor.bundle.js and it has code in there for showdown. 😕

[2016-10-07 15:54] Awk34 commented on #293
Strange. Anyway, it doesn't sound like an issue with Showdown + Angular 2. I've been using Showdown on an Angular 2 app just fine.

[2016-10-07 15:59] LeahPike commented on #293
Must be something odd my end then, will keep trying :female_detective:

[2016-10-07 16:54] tivie commented on #293
@LeahPike I've been trying, but couldn't reproduce the issue you describe.

[2016-10-07 17:00] tivie commented on #292
No, the problem is that the urls aren't properly encoded (and possibly wrong). I've removed the space between `uber` and `api` and the images display properly.

[Check the example](http://showdownjs.github.io/demo/#/%23%20Getting%20Started%0A%23%23%20How%20to%20Build%0A%0AThe%20generated%20code%20uses%20a%20few%20Maven%20dependencies%20e.g.%2C%20Jackson%2C%20UniRest%2C%0Aand%20Apache%20HttpClient.

[2016-10-07 17:04] tivie commented on #292
As a sidenote, showdown does not encode/decode urls automatically. But it might be a useful feature/enhancement.

[2016-10-08 09:48] naumanumer opened #294 "how to create nested tables"
i want to create table inside another table. can i do this.

[2016-10-08 09:51] naumanumer commented on #294
Or a list inside an table

[2016-10-08 15:30] tivie commented on #294
You need to use html

[2016-10-08 16:56] naumanumer opened #295 "can not rendering tables"
i have following code
[code]
when i paste it http://showdownjs.github.io/demo/. I got the correct output but when i use same code for my app i get this with no error.
![image](https://cloud.githubusercontent.com/assets/19629102/19214635/fcf1cbec-8da1-11e6-8781-679b88489905.png)

[2016-10-08 17:03] naumanumer commented on #294
ok working fine. thanks

[2016-10-08 17:03] #294 closed

[2016-10-08 17:04] naumanumer commented on #295
I am getting this block in <p> rather than <table>

[2016-10-08 17:11] tivie commented on #295
As per the [readme](https://github.com/showdownjs/showdown#valid-options) and the [documentation](https://github.com/showdownjs/showdown/wiki/Showdown's-Markdown-syntax#tables) you need to turn on the `tables` option.

* through the constructor

[code]

* through the `setOption()` method

[code]

[2016-10-08 17:14] naumanumer commented on #295
thanks working fine

[2016-10-08 17:14] #295 closed

[2016-10-11 01:36] obedm503 opened #296 "List of Resources"
Is there a list of showdown resources (extensions, examples, etc) where I can add my extension?

I recently wrote a plugin for showdown which takes asciimath or latex and converts it to pretty html thru katex. It's basically a wrapper for katex. I also wrote some examples for it.

Is there a place anywhere that I can let people who might be interested know this functionality exists? a list of show

[2016-10-11 04:08] tivie commented on #296
In the wiki. https://github.com/showdownjs/showdown/wiki

I've added your extension

[2016-10-11 04:09] #296 closed

[2016-10-11 04:09] tivie commented on #293
@LeahPike have you found out what the problem was?

[2016-10-11 15:04] obedm503 commented on #296
great. thanks

[2016-10-12 09:10] LeahPike commented on #293
I haven't yet, will try and find some time today to create a new environment to try it with.

[2016-10-12 10:42] LeahPike commented on #293
I've cloned the angular 2 quick start:

I've installed showdown:

Can someone please confirm what exactly I need to change within this project to get it importing into AppComponent? That would be great help, thank you.

[2016-10-12 15:42] Awk34 commented on #293
@LeahPike I cloned it and can see why you were having issues. First step of course is to install Showdown:

[code]

Then I see that the project is using SystemJS, so I think you have to add this to the `map` in `systemjs.config.js`:

[code]

And then it also uses TypeScript, so you'll want the type definitions for Showdown:

[code]

You should then be able to change your `app.component.ts` to look

[2016-10-13 09:38] LeahPike commented on #293
That is working!

Although trying to run "$ ./node_modules/.bin/typings install dt~showdown --save --global" in a terminal window caused the following "'$' is not recognized as an internal or external command".

I'll have to read up about typings and see how to add it.

Thank you :D

[2016-10-13 09:38] #293 closed

[2016-10-13 19:05] Awk34 commented on #293
@LeahPike the command would just be `./node_modules/.bin/typings install dt~showdown --save --global`. The `$` is a bash thing.

[2016-10-13 21:46] #265 closed

[2016-10-13 21:51] #253 closed

[2016-10-16 20:47] TheNofx68 opened #297 "[Request] Server-side module for python or php"
Hey there !
I've been using this library for some time, but as I don't work (and don't want to) using nodejs, but I prefer to use php7 or python3/flask instead, I'd like to know if it'd possible to make a version for one of these two solutions ?
Thanks in advance !

[2016-10-16 23:38] tivie commented on #297
Hi @TheNofx68! It's not in our plans to port the library into another programming language as it would be very time consuming and meant we need to keep parallel development of the two libraries while maintaining the output identical.

If you don't mind using nodejs in conjunction with PHP or Python, you can call showdown's CLI from your application and read the output. It's pretty straightforward

[2016-10-18 19:28] TheNofx68 commented on #297
Thanks for these infos, but I really don't want to have to work with nodejs, so it's a total no for me.
I can obviously understand the extra work part, and I'll take a look at the php-markdown you gave.
If none suits my needs, I think I'll work on porting your library into php.
Anyways, thanks !

[2016-10-18 22:35] #297 closed

[2016-10-30 13:55] IonicaBizau commented on #215
@tivie How can I make this to support custom languages (not `Auto`)? Thanks!

[2016-10-31 02:34] tivie commented on #215
@IonicaBizau Check the highlight documentation. **https://highlightjs.org/usage/**

[2016-11-01 19:42] jeud opened #298 "How to remove language-xxx when converting markdown to html"
Dear everyone

I intend to use the converted HTML with [highlight.js](https://highlightjs.org/) for syntax highlighting feature

My code example on markdown file

[code]

The result after conversion from markdown file to HTML

    <pre>
        <code class="bash language-bash">
            # whatever here
        </code>
    </pre>

**Questions**

 How to remove `prefix-bash` from the `class` attr

[2016-11-01 19:56] obedm503 commented on #298
have you tried the official highlight extension? it uses google code pretty instead of highlight js

https://github.com/showdownjs/prettify-extension

[2016-11-01 21:50] tivie commented on #298
Through showdown options you can't remove the class `language-bash`. The only only is with a output extension.

But what is the problem of having an extra class there?

[2016-11-01 22:55] jeud commented on #298
@tivie no problems actually, I used to use *marked.js* and *remarkable.js* both are able configure the class prefix, so I'm just looking for equivalent from *showdown.js*

Also I had little understanding using *highlight.js* at the first place, after trying to learn more, I've found that it works both `class="bash lang-bash language-bash"` So I think I'm fine now :)

Thanks everyone @obedm503, @ti

[2016-11-01 22:55] #298 closed

[2016-11-02 07:34] tiansh opened #299 "Nested ordered / unordered list inconsistent behavior"
INPUT:

[code]

PERFER:

* aaa
  1. bbb

[code]

but got:

[code]

[2016-11-02 11:01] jeud opened #300 "Hooking into converter.makeHtml() to customize HTML output"
Dear everyone

I would like to add some extra attributes or some value into HTML output

Example Markdown
[code]

Expected HTML Output
[code]

Where/how can I hook into the conversion process from markdown to HTML?, or must I do this after the HTML output?

Thanks everyone

[2016-11-02 14:48] siriscac commented on #288
I'm facing this issue again.
Using the npm module. I looked at the code for [799abea](https://github.com/showdownjs/showdown/commit/799abea7674ae5a778f778b5418acc599ee7012e) changes, and it doesn't seem to have them.

[2016-11-02 16:37] tivie commented on #288
@siriscac, this update was not released into stable yet.

The next showdown update should include it

[2016-11-02 16:39] obedm503 commented on #300
what kind of attributes do want to add? some classes?

you could make an extension

[code]

live fiddle: https://jsfiddle.net/n122569s/

[2016-11-02 16:40] tivie commented on #300
ALso check the documentation regarding extensions https://github.com/showdownjs/showdown/wiki/Extensions

[2016-11-02 16:45] tivie commented on #299
[According to the documentation][1], nested elements must have, at least, 3 spaces indentation.

You can [check the demo][2] with your example working

[1]: https://github.com/showdownjs/showdown/wiki/Showdown's-Markdown-syntax#nested-lists
[2]: http://showdownjs.github.io/demo/#/a%20list%20with%20indentation%20wrong!%0A%0A*%20aaa%0A%20%201.%20bbb%0A%0A%0Aa%20list%20with%20the%20correct%20indentat

[2016-11-02 18:00] jeud commented on #300
Thanks @obedm503 , @tivie, I've got some ideas what to do next :)

[2016-11-02 18:00] #300 closed

[2016-11-02 21:20] tivie commented on #288
Released v 1.4.4 that includes this fix

https://github.com/showdownjs/showdown/releases/tag/1.4.4

[2016-11-03 01:18] tiansh commented on #299
[code]

[code]
But why these two have different behavior?

First one currently been parsed to `<ul><li>aaa<ul><li>bbb</li></ul></ul>`.
But second one is `<ul><li>aaa</li></ul><ol><li>bbb</li></ol>`.

[2016-11-03 06:19] tivie commented on #299
You are absolutely right. They should behave exactly the same.

[2016-11-04 15:35] obedm503 commented on #195
any update one this? I'm also willing to help out.

[2016-11-04 16:55] urmilparikh commented on #195
+1

[2016-11-07 09:13] siriscac commented on #288
Can confirm that it works, thanks.

[2016-11-08 16:24] obedm503 commented on #195
can anyone point me to the best way to achieve this?

[2016-11-10 06:03] icymind opened #301 "rendering fenced code block in list mess up"
## env
showdown version: 1.4.4

There is a bug in rendering fenced code block nested in list by `showdown makehtml -i demo.md -o demo.html`. But the Live Editor works well: [Showdown Live Editor](http://showdownjs.github.io/demo/#/1.%20First%20step%0A%0A%20%20%20%20Demo%20of%20first%20step.%0A%0A%20%20%20%20Sub%20list%20of%20first%20step%3A%0A%0A%20%20%20%20-%20list%201.0%0A%0A%20%20%20%20%20%20%2

[2016-11-10 13:59] tivie commented on #301
@icymind Are you using the latest showdown version?

[2016-11-10 14:14] icymind commented on #301
Yes, I do use the latest version. The command `showdown -v` prints `1.4.4`

[2016-11-11 08:17] tivie commented on #299
should be fixed now in latest development

[2016-11-11 08:17] #299 closed

[2016-11-11 08:27] tivie commented on #301
By default, the CLI tool has all options turned off. This means github's fenced codeblocks (a non standard markdown feature) is turned off.

So, the appropriate command should be:

[code]

[2016-11-11 08:28] #301 closed

[2016-11-18 11:09] gbaumgart commented on #269
same here, can please check that its electron ?

[code]

[2016-11-18 14:38] gbaumgart commented on #269
electron support added in [PR](https://github.com/showdownjs/showdown/pull/303)

[2016-11-18 20:55] aaroncalderon commented on #269
The behaviour I experienced was by design.

I'm not sure if specific support for __electron__ is needed.

However, that little piece of code is a clever approach. However, to make a difference every javascript library that uses UML (Universal Module Loading) will need to adopt this approach.

[2016-11-18 21:37] tivie commented on #269
I've never used Electron so i'm far from being an expert but:

Wouldn't forcing showdown to load "browser style" in Electron context create problems for other modules (like nodejs modules) that expect showdown to load via CommonJS?

[2016-11-18 22:16] aaroncalderon commented on #269
__short answer__

@tivie I think it would.

__other thoughts__

With the current implementation when loading __showdownjs__ on a nodejs environment, it will behave as expected and the `require` command will work just fine.

When using electron, on the other hand, on the renderer process (the chromium part of it) has nodejs integration enabled by default, making the renderer process behave like a n

[2016-11-19 01:36] gbaumgart commented on #269
i am afraid pre-load won't lazy loaded components. and supporting as next a mixed env. like electron isn't too unusual. i did this patch in a few libs already. its 1-2 lines only and will do its job til fine, til they fixed the concepts of js loaders i guess.

anyway, i am ok with my fork; i saw some other things to be changed too, so its fine with me to close this here.
thanks btw. for your work,

[2016-11-19 14:40] tivie commented on #269
@gbaumgart I've just tested showdown with your PR under Electron. With another library, **IonicaBizau/github-portfolio**, it fails since showdown is no longer loaded via "require".

Like I said, I'm no Electron wizard so I might be doing something wrong.

@gbaumgart Would you mind testing this also? with this 2 libraries?

[2016-11-20 13:08] gbaumgart commented on #269
@tivie I see, I guess that library want's to load showdown via electron's require. In my case i want it loaded on the client side. So to make this right, we need something to tell showdown how to export it self. I don't know better than doing this with some variable in global/window. You have a better idea ?

g

[2016-11-23 16:28] JuanCaicedo opened #304 "Multiple divs within table cell has incorrect results"
## tldr
I think this is coming from the replacement done by [hashHTMLBlocks.js#L51](https://github.com/showdownjs/showdown/blob/master/src/subParsers/hashHTMLBlocks.js#L51).

## More details

### Markdown
[code]

### Custom extension
`[tag]` should replace its contents with
[code]

### Expected
[code]

### Actual
[code]

### How to reproduce
Using node v4

[code]

[2016-11-23 16:37] JuanCaicedo commented on #304
I found that this can be fixed by not doing new lines inside a table cell, that is by changing the above test code to use

[code]

Not totally sure this fixes the bug I'm seeing in my project, but I'll research more and try to update

[2016-11-23 19:44] #304 closed

[2016-11-23 21:18] tivie commented on #269
Not really no. But alas, poluting the global namespace with variables does not seem a good solution too.
This really has to be addressed from Electron side. I don't see another way.

[2016-11-23 21:18] #269 closed

[2016-11-24 04:58] wolfgang1983 opened #305 "Text From Database With Showdown"
I am trying to convert my text from my database column

[code]

I echo text to view but says error SyntaxError: unterminated string literal

What do I need to do for text from database to be able to work with showdown

My text that I insert looks like this example below

#Hello

How are you

    jjjjjjjj

[2016-11-24 14:01] tivie commented on #305
This is a question out of scope for this issue tracker since it's PHP related and not at all related to showdown (you can try www.stackoverflow.com, for instance).

However, the problem is that your string has linebreaks.

So the resulting code is something like this:

[code]

which is invalid javascript.

[2016-11-24 14:01] #305 closed

[2016-11-24 17:32] obedm503 commented on #305
@wolfgang1983 maybe try substituting the single quotes around the php code with backticks, which support multiline text.

[code]
for more support from `template strings` check [this](http://kangax.github.io/compat-table/es6/#test-template_strings)

[2016-11-24 23:06] ibenschop opened #306 "Strikethrough enabled results in word annotation"
When enabling strikethrough. Word interprets it as a annotation change.

[2016-11-24 23:17] wolfgang1983 commented on #305
I have now had to do couple changes on my insert database end with codeigniter

`public function insert() {
		$data = array(
			'question' => $this->db->escape(trim(str_replace('\n', PHP_EOL, $this->input->post('html'))))
		);

		$this->db->where('question_id', '1');
		$this->db->update('question', $data);
	}`

Works fine now.

[2016-11-24 23:22] tivie commented on #306
@ibenschop Need more context. Please provide an example with input, expected result and actual result.

[2016-11-25 09:39] gingerbeardman opened #307 "Nested lists do not result in correct markup"
MARKDOWN:
[code]

EXPECTED RESULT:
* Jackson 5
  * Michael
  * Tito
  * Jackie
  * Marlon
  * Jermaine
* TMNT
  * Leonardo
  * Michelangelo
  * Donatello
  * Raphael

ACTUAL RESULT:
* Jackson 5
* Michael
* Tito
* Jackie
* Marlon
* Jermaine
* TMNT
* Leonardo
* Michelangelo
* Donatello
* Raphael

[2016-11-25 09:44] gingerbeardman commented on #307
edit: just read the docs and I need to use 4 spaces not 2 to markdown a list.

[2016-11-25 09:44] #307 closed

[2016-11-25 14:44] ibenschop commented on #306
@tivie We are using showdown server side.

this is our example text:

[code]

This is the implementation of shodown

[code]

The result renders all the formatting correctly except the strikethrough. It results in a word 'change annotation' with the text that is suppose to be strikenthrough. We are using Word for Mac 2016.

Hope the above info helps.

Best,

Ian

[2016-11-25 15:04] tivie commented on #306
So the problem is that MS Word is interpreting strikethrough as something else?

[2016-11-25 15:57] ibenschop commented on #306
Hi Tobias,

My apologies. I think I have been posting the issue to the wrong thread. It seems html-to-docx is failing to translate <del>some text</del> correctly.

Thanks for you swift response

PS i can validate that it works perfect in showdown!

[2016-11-25 15:57] #306 closed

[2016-11-30 09:18] ospfranco commented on #206
This is very useful for simple cases, I'm surprised this is not included as basic functionality.

[2016-11-30 14:20] tivie commented on #206
@ospfranco I believe that, in our effort to fully support a Github's Flavored Markdown "mode" this should be an option in core. So I'm reopening the issue and adding this feature in the near future

[2016-12-01 07:20] smblott-github opened #308 "simplifiedAutoLink should exclude trailing punctuation"
If the input is:

    Check out this cool site: https://github.com/showdownjs/showdown.

... then the trailing full stop should be excluded from the link.  (This is how GMail, etc, works.)

Would it be safe to skip all trailing punctuation marks?

[2016-12-01 14:02] tivie commented on #308
That is a tricky one.
Fully qualified domains must end with a dot. So its not safe to skip trailing punctiation.

However, you rarely need to use fully qualified domains. Only in very specific situations where a URL might be ambiguous.

[2016-12-01 14:45] tivie commented on #308
So I really don't know if we should go for practicality or correctness.

The practicality argument is that you rarely need periods at the end of the url and in most cases the period marks the end of the sentence.

The correctness argument is that you can't safely assume the period isn't needed at the end of the URL.

A similar situation is discussed in issue #266 albeit regarding parenthesis.

Als

[2016-12-01 15:27] tivie commented on #308
This was added as a new option called `excludeTrailingPunctuationFromURLs`. Enabling this will remove trailing punctuation and parenthesis from URL parsing in auto linking.

[2016-12-01 15:27] tivie commented on #266
This was added as a new option called `excludeTrailingPunctuationFromURLs`. Enabling this option will remove trailing punctuation and parenthesis from URL parsing in auto linking.

[2016-12-01 15:41] #206 closed

[2016-12-01 15:41] #266 closed

[2016-12-01 15:42] #308 closed

[2016-12-01 15:50] tivie commented on #290
@msfragala The bug you referred was fixed. However, if you're interested in helping developing listeners, that would be great

[2016-12-05 07:51] IonicaBizau opened #309 "Include markdown files"
Is it possible to `include` other Markdown files?

Something similar to this: https://github.com/sethen/markdown-include

How can we do that?

[2016-12-08 07:47] JerryYangJin opened #310 "table - issue with Bootstrap css"
Hello, I'm using `showdown` as my markdown editor/renderer, I'm also use `twitter bootstrap`

I found the table is not working as expected, the table structure is getting rendered, but it has no border, the cells are very close to each other, it looks like no css applied on the table.

bootstrap css seems to require class 'table' on `table` tag, like `<table class="table">`, the rendered table has

[2016-12-08 19:20] tivie commented on #310
You can use an extension that alters rendered tables and adds the proper class to them.

[2016-12-08 23:40] obedm503 commented on #310
I actually faced the same issue while working on [`bootmark`](https://obedm503.github.io/bootmark/). The way I went about it was to find all `<table>` elements, add the specific classes, and  wrap them in a `<div>` to make responsive.

using jQuery because of cross-browser support and easy api. disclaimer: code wasn't tested
[code]

[2016-12-09 01:57] JerryYangJin commented on #310
@tivie , @obedm503 , thanks for the reply, I'll test the extension and update

[2016-12-09 02:19] JerryYangJin commented on #310
@obedm503 , your code works perfectly, thanks a lot!

[2016-12-09 02:19] #310 closed

[2016-12-09 03:35] IonicaBizau opened #311 "Add extension on the fly"
How to add an extension after the `Converter` instance was created?

[2016-12-09 04:07] JerryYangJin commented on #215
Hi, @Tivie,  I tried with `hightlight 9.8` and `showdown 1.4.4`, it's not working now, is there updated version of the extension?

[2016-12-09 04:20] IonicaBizau commented on #215
@JerryYangJin By coincidence I'm right now working on a `showdown` extension for highlighting. I have a working prototype. :grin:

[2016-12-09 05:21] JerryYangJin commented on #215
@IonicaBizau , thanks for the reply, i deleted my previous comments, as @tivie 's extension is still working, I 'm using prettify extionsion at the same time, so need a little bit change in the change, then it works perfectly.

[2016-12-09 15:52] tivie commented on #311
[code]

https://github.com/showdownjs/showdown/blob/master/src/converter.js#L344

[2016-12-11 04:38] IonicaBizau commented on #311
Thanks! :+1:

[2016-12-11 04:38] #311 closed

[2016-12-16 12:16] rolandliwag opened #312 "converter.makeHtml with dashes terminated with nbsp takes a long time"
To reproduce:

[code]

As dashes are added to the left, it takes more and more time. Removing the nbsp (char code 160) from the end makes it behave much better.

[2016-12-17 03:06] tivie commented on #312
The bug was verified. For some reason, nbsp breaks the hr algorithm and dashes are interpreted as list marks! I'm looking into it

[2016-12-17 03:36] tivie commented on #312
Upon further inspection, it seems the bug occurs with any character (and not only with nbsp) after a series of dashes or asterisks.

From what I could gather, this bug is present from the beginning of showdown and is common to other markdown parsers (such as marked or commonmark).

The problem lies with the list parser. Basically it interprets the line as a series of nested lists (which is wrong).

[2016-12-17 05:28] tivie commented on #312
10b3410 and 6e90f7c should address this issue

[2016-12-17 05:31] #290 closed

[2016-12-17 05:31] #312 closed

[2016-12-17 07:00] tivie commented on #309
This would not make sense since Showdown is as parser and is used in browsers, nodejs and offline.
More importantly, showdown is not asynchronous, so ajax calls would not be possible.

You can, however, implement your own extension to give a placeholder for an ajax call. Check fiddle here https://jsfiddle.net/tivie/neqmojL2/

Example:

[code]

[code]

[2016-12-17 07:01] #309 closed

[2016-12-17 07:12] rolandliwag commented on #312
Thanks very much. Would it be possible to also publish a new npm version?